@model NHS.Common.clsMedicalExaminerDecision
@{
    ViewBag.Title = "Medical Examiner Decision";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<br />
<style>
    .form_width {
        width: 100% !important;
    }
</style>
<div class="container">
    <div class="row form-group">
        <div class="col-xs-12 col-lg-12">
            <div class="row" align="right">
                <div class="col-md-12">
                    <input type="image" src="~/images/Delete.png" width="30" height="30" alt="Submit" id="btnClose3" title="Close" />
                </div>
            </div>
            <ul class="nav nav-pills nav-justified thumbnail setup-panel">
                <li class="disabled">
                    <a href='@Url.Action("PatientDetails", "home", new { id=Model.ID })'>
                        <h4 class="list-group-item-heading">
                            Patient details
                        </h4>
                    </a>

                </li>
                <li class="disabled">
                    <a href='@Url.Action("MedicalExaminerReview", "home", new { id=Model.ID })'>
                        <h4 class="list-group-item-heading">
                            Medical Examiner<br /> Scrutiny
                        </h4>
                    </a>
                </li>
                <li class="active">
                    <a href='@Url.Action("MedicalExaminerDecision", "home", new { id = Model.ID})'>
                        <h4 class="list-group-item-heading">
                            Medical Examiner Decision
                        </h4>
                    </a>
                </li>

                <li class="disabled">
                    <a href='@Url.Action("SJRAssessmentTriage", "home", new { id = Model.ID})'>
                        <h4 class="list-group-item-heading">
                            SJR Assessment<br /> Triage
                        </h4>
                    </a>
                </li>
                <li class="disabled">
                    <a href='@Url.Action("OtherReferrals", "home", new { id = Model.ID})'>
                        <h4 class="list-group-item-heading">
                            Other Referrals
                        </h4>
                    </a>
                </li>
                <li class="disabled">
                    <a href='@Url.Action("PositiveFeedback", "home", new { id = Model.ID})'>
                        <h4 class="list-group-item-heading">
                            Positive Feedback
                        </h4>
                    </a>
                </li>
                <li class="disabled">
                    <a href='@Url.Action("Declaration", "home", new { id = Model.ID})'>
                        <h4 class="list-group-item-heading">
                            Declaration
                        </h4>
                    </a>
                </li>
                <li class="disabled">
                    <a href='@Url.Action("FinalOutcome", "home", new { id = Model.ID})'>
                        <h4 class="list-group-item-heading">
                            Final Outcome<br />(MEO)
                        </h4>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row setup-content" id="step-3">
        @using (Html.BeginForm("MedicalExaminerDecision", "Home", FormMethod.Post, new { @id = Model.ID, @class = "form_width" }))
        {
            AntiForgeryConfig.SuppressXFrameOptionsHeader = true;
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="col-xs-12 col-lg-12">
                @*<form action="/Home/MedExamFormStep3" method="post" id="frmMedExamFormStep3">*@
                <div class="col-md-12 well">
                    <div class="form-section">
                        <div class="lable_title">
                            <h2>MEDICAL EXAMINER DECISION</h2>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="col-md-12">
                                    <div class="row_bar checkbox-row row_bar_margin row_bar_padding">
                                        @if (Model.MedTriage == 3)
                                        {
                                            if (Model.MCCDissue == true)
                                            {
                                                <input type="checkbox" disabled="disabled" id="IssueMCCD" checked name="IssueMCCD"><span> Issue MCCD </span>
                                            }
                                            else
                                            {
                                                <input type="checkbox" disabled="disabled" id="IssueMCCD" name="IssueMCCD"><span> Issue MCCD </span>
                                            }
                                        }
                                        else
                                        {
                                            if (Model.MCCDissue == true)
                                            {
                                                <input type="checkbox" id="IssueMCCD" checked name="IssueMCCD"><span> Issue MCCD </span>
                                            }
                                            else
                                            {
                                                <input type="checkbox" id="IssueMCCD" name="IssueMCCD"><span> Issue MCCD </span>
                                            }
                                        }
                                        <input type="hidden" height="0" width="0" name="reasonid" id="reasonid" value="@Model.CoronerReferralReasonID" />
                                    </div>
                                </div>
                                @if (Model.MedTriage == 3)
                                {
                                    <div class="col-md-12">
                                        <div class="row_bar row_bar_margin row_bar_padding">
                                            @if (Model.CoronerReferral == true)
                                            {
                                                <input type="checkbox" disabled="disabled" id="CoronerReferral" checked name="CoronerReferral"><span> Coroner Referral </span>
                                            }
                                            else
                                            {
                                                <input type="checkbox" disabled="disabled" id="CoronerReferral" name="CoronerReferral"><span> Coroner Referral </span>
                                            }
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <div class="col-md-12">
                                        <div class="row_bar row_bar_margin row_bar_padding">
                                            @if (Model.CoronerReferral == true)
                                            {
                                                <input type="checkbox" id="CoronerReferral" checked name="CoronerReferral"><span> Coroner Referral </span>
                                            }
                                            else
                                            {
                                                <input type="checkbox" id="CoronerReferral" name="CoronerReferral"><span> Coroner Referral </span>
                                            }
                                        </div>
                                    </div>
                                }
                                @if (Model.CoronerReferral == true)
                                {
                                    <div id="CoronerReason1" style="display:block" class="col-md-12">
                                        <div class="row_bar row_bar_margin row_bar_padding">
                                            Reason for coroner referral
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <div id="CoronerReason1" style="display:none" class="col-md-12">
                                        <div class="row_bar row_bar_margin row_bar_padding">
                                            Reason for coroner referral
                                        </div>
                                    </div>

                                }
                                
                                @if (Model.MedTriage == 3)
                                {
                                    if (Model.CoronerReferral == true)
                                    {
                                        
                                        <div id="CoronerReason2" style="display:block" class="col-md-12">
                                            <div class="row_bar row_bar_margin row_bar_padding"><br />
                                                @Html.TextAreaFor(model => model.CoronerReferralReason, 5,100, new { htmlAttributes = new { @class = "form-control", @readonly = true } })

                                            </div>
                                        </div>

                                    }
                                    else
                                    {
                                        
                                        <div id="CoronerReason2" style="display:none" class="col-md-12">
                                            <div class="row_bar row_bar_margin row_bar_padding"><br />
                                                @Html.TextAreaFor(model => model.CoronerReferralReason, 5, 100, new { htmlAttributes = new { @class = "form-control", @readonly = true } })

                                            </div>
                                        </div>
                                    }
                                }
                                else
                                {
                                    
                                    if (Model.CoronerReferral == true)
                                    {
                                        <div id="CoronerReason2" style="display:block" class="col-md-12">
                                            <div class="row_bar row_bar_margin row_bar_padding"><br />
                                                @Html.TextAreaFor(model => model.CoronerReferralReason, 5, 100, new { htmlAttributes = new { @class = "form-control" } })

                                            </div>
                                        </div>

                                    }
                                    else
                                    {
                                        
                                        <div id="CoronerReason2" style="display:none" class="col-md-12">
                                            <div class="row_bar row_bar_margin row_bar_padding"><br />
                                                @Html.TextAreaFor(model => model.CoronerReferralReason,5, 100, new { htmlAttributes = new { @class = "form-control" } })

                                            </div>
                                        </div>
                                    }

                                }

                                @if (Model.MedTriage == 3)
                                {
                                    <div class="col-md-12">
                                        <div class="row_bar row_bar_margin row_bar_padding">
                                            @if (Model.HospitalPostMortem == true)
                                            {
                                                <input type="checkbox" disabled="disabled" checked id="PostMortem" name="PostMortem"><span> Hospital post-mortem </span>
                                            }
                                            else
                                            {
                                                <input type="checkbox" disabled="disabled" id="PostMortem" name="PostMortem"><span> Hospital post-mortem </span>
                                            }
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <div class="col-md-12">
                                        <div class="row_bar row_bar_margin row_bar_padding">
                                            @if (Model.HospitalPostMortem == true)
                                            {
                                                <input type="checkbox" checked id="PostMortem" name="PostMortem"><span> Hospital post-mortem </span>
                                            }
                                            else
                                            {
                                                <input type="checkbox" id="PostMortem" name="PostMortem"><span> Hospital post-mortem </span>
                                            }
                                        </div>
                                    </div>
                                }

                                <div class="col-md-12">
                                    <div class="row_bar">
                                        Cause of Death
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="row">
                                        @if (Model.MedTriage == 3)
                                        {
                                            <div class="col-md-6">

                                                1a
                                                @Html.EditorFor(model => model.CauseOfDeath1, new { htmlAttributes = new { @class = "form-control", @readonly = true } })


                                            </div>
                                        }
                                        else
                                        {
                                            <div class="col-md-6">

                                                1a
                                                @Html.EditorFor(model => model.CauseOfDeath1, new { htmlAttributes = new { @class = "form-control" } })


                                            </div>
                                        }
                                        <div class="col-md-6">

                                            1b
                                            @if (Model.MedTriage == 3)
                                            {
                                                @Html.EditorFor(model => model.CauseOfDeath2, new { htmlAttributes = new { @class = "form-control", @readonly = true } })
                                            }
                                            else
                                            {
                                                @Html.EditorFor(model => model.CauseOfDeath2, new { htmlAttributes = new { @class = "form-control" } })
                                            }

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-6">

                                            1c
                                            @if (Model.MedTriage == 3)
                                            {
                                                @Html.EditorFor(model => model.CauseOfDeath3, new { htmlAttributes = new { @class = "form-control", @readonly = true } })
                                            }
                                            else
                                            {
                                                @Html.EditorFor(model => model.CauseOfDeath3, new { htmlAttributes = new { @class = "form-control" } })
                                            }

                                        </div>
                                        <div class="col-md-6">

                                            2
                                            @if (Model.MedTriage == 3)
                                            {
                                                @Html.EditorFor(model => model.CauseOfDeath4, new { htmlAttributes = new { @class = "form-control", @readonly = true } })
                                            }
                                            else
                                            {
                                                @Html.EditorFor(model => model.CauseOfDeath4, new { htmlAttributes = new { @class = "form-control" } })
                                            }

                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="table_margin">
                                    <table width="100%" style="border-collapse:separate;border:solid black 1px;border-radius:6px; -moz-border-radius:6px; border-color:#a9d7cc;">
                                        <tr style="border-collapse:separate;border:solid black 1px;border-radius:6px; -moz-border-radius:6px; border-color:#a9d7cc">
                                            <td width="40%" style="border-left:solid black 1px; border-top:solid black 1px; border-color:#a9d7cc; padding:5px 5px;"><b>Patient ID</b></td>
                                            <td style="border-left:solid black 1px; border-top:solid black 1px; border-color:#a9d7cc; padding:5px 5px;">@Model.Patient_Id </td>
                                        </tr>
                                        <tr style="border-collapse:separate;border:solid black 1px;border-radius:6px; -moz-border-radius:6px; border-color:#a9d7cc">
                                            <td style="border-left:solid black 1px; border-top:solid black 1px; border-color:#a9d7cc; padding:5px 5px;"><b>Patient Name</b></td>
                                            <td style="border-left:solid black 1px; border-top:solid black 1px; border-color:#a9d7cc; padding:5px 5px;">@Model.PatientName</td>

                                        </tr>
                                        <tr style="border-left:solid black 1px; border-top:solid black 1px; border-color:#a9d7cc">
                                            <td style="border-left:solid black 1px; border-top:solid black 1px; border-color:#a9d7cc; padding:5px 5px;"><b>DOB</b></td>
                                            <td style="border-left:solid black 1px; border-top:solid black 1px; border-color:#a9d7cc; padding:5px 5px;">@Model.DOB</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>








                        <div class="row">


                            <br /><br />
                            <div class="col-md-12" style="padding: 0;">

                                <div class="col-md-6">
                                    Death was
                                </div>
                                @if (Model.MedTriage == 3)
                                {
                                    <div class="col-md-6">
                                        <div class="row_bar">
                                            <select class="form-control" disabled="disabled" id="ddlCauseOdfDeath" name="ddlCauseOdfDeath">
                                                <option value="0" selected>Select</option>
                                                <option value="1">Unexpected</option>
                                                <option value="2">Sudden but unexpected</option>
                                                <option value="3">Expected</option>
                                                <option value="4">Individualised End of Life Care Plan</option>
                                            </select>
                                            @if (Model.CauseID > 0)
                                            {
                                                <script>
                                                        $("#ddlCauseOdfDeath").val(@Model.CauseID)
                                                </script>
                                            }
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <div class="col-md-6">
                                        <div class="row_bar">
                                            <select class="form-control" id="ddlCauseOdfDeath" name="ddlCauseOdfDeath">
                                                <option value="0" selected>Select</option>
                                                <option value="1">Unexpected</option>
                                                <option value="2">Sudden but unexpected</option>
                                                <option value="3">Expected</option>
                                                <option value="4">Individualised End of Life Care Plan</option>
                                            </select>
                                            @if (Model.CauseID > 0)
                                            {
                                                <script>
                                                        $("#ddlCauseOdfDeath").val(@Model.CauseID)
                                                </script>
                                            }
                                        </div>
                                    </div>
                                }

                            </div>

                            @*<div class="col-md-12">
                                    <div class="row_bar">
                                        Cause of Death
                                    </div>
                                </div>
                                @if (Model.MedTriage == 3)
                                {
                                    <div class="col-md-6">
                                        <div class="row_bar">
                                            1a
                                            @Html.EditorFor(model => model.CauseOfDeath1, new { htmlAttributes = new { @class = "form-control", @readonly=true } })

                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <div class="col-md-6">
                                        <div class="row_bar">
                                            1a
                                            @Html.EditorFor(model => model.CauseOfDeath1, new { htmlAttributes = new { @class = "form-control" } })

                                        </div>
                                    </div>
                                }
                                <div class="col-md-6">
                                    <div class="row_bar">
                                        1b
                                        @if (Model.MedTriage == 3)
                                        {
                                            @Html.EditorFor(model => model.CauseOfDeath2, new { htmlAttributes = new { @class = "form-control", @readonly=true } })
                                        }
                                        else
                                        {
                                            @Html.EditorFor(model => model.CauseOfDeath2, new { htmlAttributes = new { @class = "form-control" } })
                                        }
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row_bar">
                                       1c
                                        @if (Model.MedTriage == 3)
                                        {
                                            @Html.EditorFor(model => model.CauseOfDeath3, new { htmlAttributes = new { @class = "form-control", @readonly=true } })
                                        }
                                        else
                                        {
                                            @Html.EditorFor(model => model.CauseOfDeath3, new { htmlAttributes = new { @class = "form-control" } })
                                        }
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row_bar">
                                        2
                                        @if (Model.MedTriage == 3)
                                        {
                                            @Html.EditorFor(model => model.CauseOfDeath4, new { htmlAttributes = new { @class = "form-control", @readonly=true } })
                                        }
                                        else
                                        {
                                            @Html.EditorFor(model => model.CauseOfDeath4, new { htmlAttributes = new { @class = "form-control" } })
                                        }
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="row_bar">
                                        @if (Model.MedTriage == 3)
                                        {
                                            if (Model.DeathCertificate == true)
                                            {
                                            <input type="checkbox" disabled="disabled" checked id="DeathCertificate" name="DeathCertificate"><span> Death Certificate Complete? </span>
                                            }
                                            else
                                            {
                                            <input type="checkbox" disabled="disabled" id="DeathCertificate" name="DeathCertificate"><span> Death Certificate Complete? </span>
                                            }
                                        }
                                        else
                                        {
                                            if (Model.DeathCertificate == true)
                                            {
                                                <input type="checkbox" checked id="DeathCertificate" name="DeathCertificate"><span> Death Certificate Complete? </span>
                                            }
                                            else
                                            {
                                                <input type="checkbox" id="DeathCertificate" name="DeathCertificate"><span> Death Certificate Complete? </span>
                                            }
                                        }
                                    </div>
                                </div>
                                @if (Model.DeathCertificate == true)
                                {
                                <div id="deathdate" class="col-md-4" style="display:block;">
                                    <div class="row_bar">
                                        @if (Model.MedTriage == 3)
                                        {
                                            if (string.IsNullOrEmpty(Model.DeathCertificateDate))
                                            {
                                                <input class="form-control input_datepicker" disabled="disabled" readonly="readonly" type="text" id="DeathCertificateDate" name="DeathCertificateDate" value="" placeholder="Select Date">
                                            }
                                            else
                                            {
                                                <input class="form-control input_datepicker" disabled="disabled" readonly="readonly" type="text" id="DeathCertificateDate" name="DeathCertificateDate" value="@Model.DeathCertificateDate" placeholder="Select Date">
                                            }
                                        }
                                        else
                                        {
                                            if (string.IsNullOrEmpty(Model.DeathCertificateDate))
                                            {
                                                <input class="form-control input_datepicker" readonly="readonly" type="text" id="DeathCertificateDate" name="DeathCertificateDate" value="" placeholder="Select Date">
                                            }
                                            else
                                            {
                                                <input class="form-control input_datepicker" readonly="readonly" type="text" id="DeathCertificateDate" name="DeathCertificateDate" value="@Model.DeathCertificateDate" placeholder="Select Date">
                                            }
                                        }
                                    </div>
                                </div>
                                }
                                else
                                {
                                    <div id="deathdate" class="col-md-4" style="display:none;">
                                        <div class="row_bar">
                                            @if (Model.MedTriage == 3)
                                            {
                                                if (string.IsNullOrEmpty(Model.DeathCertificateDate))
                                                {
                                                    <input class="form-control datepicker" disabled="disabled" readonly="readonly" type="text" id="DeathCertificateDate" name="DeathCertificateDate" value="" placeholder="Select Date">
                                                }
                                                else
                                                {
                                                    <input class="form-control datepicker" disabled="disabled" readonly="readonly" type="text" id="DeathCertificateDate" name="DeathCertificateDate" value="@Model.DeathCertificateDate" placeholder="Select Date">
                                                }
                                            }
                                            else
                                            {
                                                if (string.IsNullOrEmpty(Model.DeathCertificateDate))
                                                {
                                                    <input class="form-control datepicker" readonly="readonly" type="text" id="DeathCertificateDate" name="DeathCertificateDate" value="" placeholder="Select Date">
                                                }
                                                else
                                                {
                                                    <input class="form-control datepicker" readonly="readonly" type="text" id="DeathCertificateDate" name="DeathCertificateDate" value="@Model.DeathCertificateDate" placeholder="Select Date">
                                                }
                                            }
                                        </div>
                                    </div>
                                }
                                @if (Model.DeathCertificate == true)
                                {
                                <div id="deathtime" class="col-md-2" style="display:block;">
                                    <div class="row_bar">
                                        @if (Model.MedTriage == 3)
                                        {
                                        <input  class="form-control" readonly="readonly" name="DeathCertificateTime" type="text" maxlength="5" id="txtTime" placeholder="00:00"
                                               value="@Model.DeathCertificateTime" />
                                        }
                                        else
                                        {
                                            <input class="form-control" name="DeathCertificateTime" type="text" maxlength="5" id="txtTime" placeholder="00:00"
                                                   value="@Model.DeathCertificateTime" />
                                        }
                                    </div>
                                </div>
                                }
                                else
                                {
                                    <div id="deathtime" class="col-md-2" style="display:none;">
                                        <div class="row_bar">
                                            @if (Model.MedTriage == 3)
                                            {
                                                if (string.IsNullOrEmpty(Model.DeathCertificateTime))
                                                {
                                                    <input class="form-control" readonly="readonly" name="DeathCertificateTime" type="text" maxlength="5" id="txtTime" placeholder="00:00"
                                                    value="" />
                                                }
                                                else
                                                {
                                                        <input class="form-control" readonly="readonly" name="DeathCertificateTime" type="text" maxlength="5" id="txtTime" placeholder="00:00"
                                                       value="@Model.DeathCertificateTime" />
                                                }
                                            }
                                            else
                                            {
                                                if (string.IsNullOrEmpty(Model.DeathCertificateTime))
                                                {
                                                    <input class="form-control" name="DeathCertificateTime" type="text" maxlength="5" id="txtTime" placeholder="00:00"
                                                           value="" />
                                                }
                                                else
                                                {
                                                    <input class="form-control" name="DeathCertificateTime" type="text" maxlength="5" id="txtTime" placeholder="00:00"
                                                           value="@Model.DeathCertificateTime" />
                                                }
                                            }
                                        </div>
                                    </div>
                                }
                                @if (Model.DeathCertificate == true)
                                {
                                    if (Model.MedTriage == 3)
                                    {
                                    <div id="deathtimetype" class="col-md-2" style="display:block;">
                                        <div class="row_bar">
                                            <select disabled="disabled" class="form-control" id="TimeType" name="TimeType">
                                                @if (Model.TimeType == "0")
                                                {
                                                    <option selected value="0">--Select--</option>
                                                }
                                                else
                                                {
                                                    <option value="0">--Select--</option>
                                                }
                                                @if (Model.TimeType == "AM")
                                                {
                                                    <option selected value="AM">AM</option>
                                                }
                                                else
                                                {
                                                    <option value="AM">AM</option>
                                                }
                                                @if (Model.TimeType == "PM")
                                                {
                                                    <option selected value="PM">PM</option>
                                                }
                                                else
                                                {
                                                    <option value="PM">PM</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                    }
                                    else
                                    {
                                        <div id="deathtimetype" class="col-md-2" style="display:block;">
                                            <div class="row_bar">
                                                <select class="form-control" id="TimeType" name="TimeType">
                                                    @if (Model.TimeType == "0")
                                                    {
                                                        <option selected value="0">--Select--</option>
                                                    }
                                                    else
                                                    {
                                                        <option value="0">--Select--</option>
                                                    }
                                                    @if (Model.TimeType == "AM")
                                                    {
                                                        <option selected value="AM">AM</option>
                                                    }
                                                    else
                                                    {
                                                        <option value="AM">AM</option>
                                                    }
                                                    @if (Model.TimeType == "PM")
                                                    {
                                                        <option selected value="PM">PM</option>
                                                    }
                                                    else
                                                    {
                                                        <option value="PM">PM</option>
                                                    }
                                                </select>
                                            </div>
                                        </div>
                                    }
                                }
                                else
                                {
                                    if (Model.MedTriage == 3)
                                    {
                                        <div id="deathtimetype" class="col-md-2" style="display:none;">
                                        <div class="row_bar">
                                            <select disabled="disabled" class="form-control" id="TimeType" name="TimeType">
                                                @if (Model.TimeType == "0")
                                                {
                                                <option selected value="0">--Select--</option>
                                                }
                                                else
                                                {
                                                    <option value="0">--Select--</option>
                                                }
                                                @if (Model.TimeType == "AM")
                                                {
                                                    <option selected value="AM">AM</option>
                                                }
                                                else
                                                {
                                                    <option value="AM">AM</option>
                                                }
                                                @if (Model.TimeType == "PM")
                                                {
                                                    <option selected value="PM">PM</option>
                                                }
                                                else
                                                {
                                                    <option value="PM">PM</option>
                                                }
                                            </select>
                                        </div>
                                        </div>
                                    }
                                    else
                                    {
                                        <div id="deathtimetype" class="col-md-2" style="display:none;">
                                            <div class="row_bar">
                                                <select class="form-control" id="TimeType" name="TimeType">
                                                    @if (Model.TimeType == "0")
                                                    {
                                                        <option selected value="0">--Select--</option>
                                                    }
                                                    else
                                                    {
                                                        <option value="0">--Select--</option>
                                                    }
                                                    @if (Model.TimeType == "AM")
                                                    {
                                                        <option selected value="AM">AM</option>
                                                    }
                                                    else
                                                    {
                                                        <option value="AM">AM</option>
                                                    }
                                                    @if (Model.TimeType == "PM")
                                                    {
                                                        <option selected value="PM">PM</option>
                                                    }
                                                    else
                                                    {
                                                        <option value="PM">PM</option>
                                                    }
                                                </select>
                                            </div>
                                        </div>
                                    }
                                }*@
                            <div class="col-md-12">
                                <div class="row_bar">
                                    @if (Model.MedTriage == 3)
                                    {
                                        if (Model.CornerReferralComplete == true)
                                        {
                                            <input type="checkbox" disabled="disabled" checked id="CoronerReferralComplete" name="CoronerReferralComplete"><span> Coroner's referral Complete? </span>
                                        }
                                        else
                                        {
                                            <input type="checkbox" disabled="disabled" id="CoronerReferralComplete" name="CoronerReferralComplete"><span> Coroner's referral Complete? </span>
                                        }
                                    }
                                    else
                                    {
                                        if (Model.CornerReferralComplete == true)
                                        {
                                            <input type="checkbox" checked id="CoronerReferralComplete" name="CoronerReferralComplete"><span> Coroner's referral Complete? </span>
                                        }
                                        else
                                        {
                                            <input type="checkbox" id="CoronerReferralComplete" name="CoronerReferralComplete"><span> Coroner's referral Complete? </span>
                                        }
                                    }
                                </div>
                            </div><br /><br />
                            @*<div class="col-md-12">
                                    <div class="row_bar">
                                        <label class="label_part" for="defaultCheck1">(If Applicable) Coroner's decision </label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row_bar">
                                        @if (Model.MedTriage == 3)
                                        {
                                            if (Model.CoronerDecisionInquest == true)
                                            {
                                            <input type="checkbox" disabled="disabled" checked id="Inquest" name="Inquest"><span> Inquest </span>
                                            }
                                            else
                                            {
                                            <input type="checkbox" disabled="disabled" id="Inquest" name="Inquest"><span> Inquest </span>
                                            }
                                        }
                                        else
                                        {
                                            if (Model.CoronerDecisionInquest == true)
                                            {
                                                <input type="checkbox" checked id="Inquest" name="Inquest"><span> Inquest </span>
                                            }
                                            else
                                            {
                                                <input type="checkbox" id="Inquest" name="Inquest"><span> Inquest </span>
                                            }
                                        }
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row_bar">
                                        @if (Model.MedTriage == 3)
                                        {
                                            if (Model.CoronerDecisionPostMortem == true)
                                            {
                                            <input type="checkbox" disabled="disabled" checked id="Post-Mortem" name="Post-Mortem"><span> Post-Mortem </span>
                                            }
                                            else
                                            {
                                            <input type="checkbox" disabled="disabled" id="Post-Mortem" name="Post-Mortem"><span> Post-Mortem </span>
                                            }
                                        }
                                        else
                                        {
                                            if (Model.CoronerDecisionPostMortem == true)
                                            {
                                                <input type="checkbox" checked id="Post-Mortem" name="Post-Mortem"><span> Post-Mortem </span>
                                            }
                                            else
                                            {
                                                <input type="checkbox" id="Post-Mortem" name="Post-Mortem"><span> Post-Mortem </span>
                                            }
                                        }
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row_bar">
                                        @if (Model.MedTriage == 3)
                                        {
                                            if (Model.CoronerDecision100A == true)
                                            {
                                            <input type="checkbox" disabled="disabled" checked id="100A" name="100A"><span> 100 A </span>
                                            }
                                            else
                                            {
                                            <input type="checkbox" disabled="disabled" id="100A" name="100A"><span> 100 A </span>
                                            }
                                        }
                                        else
                                        {
                                            if (Model.CoronerDecision100A == true)
                                            {
                                                <input type="checkbox" checked id="100A" name="100A"><span> 100 A </span>
                                            }
                                            else
                                            {
                                                <input type="checkbox" id="100A" name="100A"><span> 100 A </span>
                                            }
                                        }
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row_bar">
                                        @if (Model.MedTriage == 3)
                                        {
                                            if (Model.CoronerDecisionGPissue == true)
                                            {
                                            <input type="checkbox" disabled="disabled" checked id="GPIssue" name="GPIssue"><span> GP Issue </span>
                                            }
                                            else
                                            {
                                            <input type="checkbox" disabled="disabled" id="GPIssue" name="GPIssue"><span> GP Issue </span>
                                            }
                                        }
                                        else
                                        {
                                            if (Model.CoronerDecisionGPissue == true)
                                            {
                                                <input type="checkbox" checked id="GPIssue" name="GPIssue"><span> GP Issue </span>
                                            }
                                            else
                                            {
                                                <input type="checkbox" id="GPIssue" name="GPIssue"><span> GP Issue </span>
                                            }
                                        }
                                    </div>
                                </div>*@
                        </div>
                    </div>
                </div>
                <div class="pull-right">
                    <button id="activate-prev-1" name="BtnPrevious" class="btn btn-primary btn-lg">Previous</button>
                    <button id="activate-step-2" id="BtnNext" name="BtnNext" class="btn btn-primary btn-lg">Save & Next</button>
                </div>
                @*</form>*@
            </div>
        }
    </div>
</div>
<br />
<br />
@*<div class="pull-right">
        <button class="btn btn-primary btn-lg" id="btnClose3">Close</button>
    </div>*@
<div class="modal fade" id="modelClose3">
    <div class="modal-dialog modal-md">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Message</h4>
                <button type="button" class="close" data-dismiss="modal">×</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div class="form-section" style="text-align:left">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row_bar">
                                <div>Do you want to exit without saving your changes?</div>
                            </div>
                        </div>
                        <br />
                        <br />
                        <div class="col-md-4">
                            <button type="button" class="btn btn-primary btn-block" id="btnModelClose1" data-dismiss="modal" formmethod="post" onclick="location.href='@Url.Action("MortalityReview", "Home", new { id=Model.ID })'">Yes</button>
                        </div>
                        <div class="col-md-4">
                            <button type="submit" class="btn btn-primary btn-block" name="btnCloseYes" id="btnCloseYes">No</button>
                        </div>

                    </div>
                </div>
            </div>

            <!-- Modal footer -->
            @*<div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>*@

        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $.ajax({
            type: "post",
            url: "/Home/GetReferralReasons",
            data: { groupid: $('#ddlCoronerReferralGrp').val() },
            datatype: "json",
            traditional: true,
            success: function (data) {
                var district = "<select id='ddlCoronerReferral'>";
                district = district + '<option value="">--Select Reason--</option>';
                for (var i = 0; i < data.length; i++) {
                    if (data[i].Reason_ID == $('#reasonid').val())
                        district = district + '<option selected value=' + data[i].Reason_ID + '>' + data[i].ReasonName + '</option>';
                    else
                        district = district + '<option value=' + data[i].Reason_ID + '>' + data[i].ReasonName + '</option>';
                }
                district = district + '</select>';
                $('#ddlCoronerReferral').html(district);
            }
        });
        $("#btnClose3").click(function () {
            $("#modelClose3").modal();
        });
        $('#ddlCoronerReferralGrp').change(function () {
            $.ajax({
                type: "post",
                url: "/Home/GetReferralReasons",
                data: { groupid: $('#ddlCoronerReferralGrp').val() },
                datatype: "json",
                traditional: true,
                success: function (data) {
                    var district = "<select id='ddlCoronerReferral'>";
                    district = district + '<option value="">--Select Reason--</option>';
                    //alert(data[i].Value + ',' + data[i].Text);
                    for (var i = 0; i < data.length; i++) {
                        district = district + '<option value=' + data[i].Reason_ID + '>' + data[i].ReasonName + '</option>';
                    }
                    district = district + '</select>';
                    $('#ddlCoronerReferral').html(district);
                }
            });
        });
    });
</script>
<script type="text/javascript">
$(function () {

     $("#btnModelClose3").click(function(){
window.location.href = "@Url.Action("MortalityReview", "Home", new { id = Model.ID }))";
    });

});
</script>
<script>
    $(document).ready(function () {
        $("#btnCloseYes").click(function () {
            $("#modelClose3").modal('hide');
        });
    });
    (function ($) {
        $(".datepicker").datepicker({
            changeMonth: true,
            changeYear: true,
            dateFormat: 'dd/mm/yy'
        });
    })(jQuery)
</script>
<script>
    $(document).ready(function () {
        $("#CoronerReferral").click(function () {
            if ($(this).is(":checked")) {
                $("#CoronerReason1").css("display", "block");
                $("#CoronerReason2").css("display", "block");
                $("#HOCBlank").css("display", "none");
            }
            else {
                $("#CoronerReason1").css("display", "none");
                $("#CoronerReason2").css("display", "none");
                $("#HOCBlank").css("display", "block");
            }
        });
    });
</script>
<script>
    $(document).ready(function () {
        $("#DeathCertificate").click(function () {
            if ($(this).is(":checked")) {
                $("#deathdate").css("display", "block");
                $("#deathtime").css("display", "block");
                $("#deathtimetype").css("display", "block");
            }
            else {
                $("#deathdate").css("display", "none");
                $("#deathtime").css("display", "none");
                $("#deathtimetype").css("display", "none");
            }
        });
    });
</script>
<script type="text/javascript">
    $("#BtnNext").click(function () {
        alert("hi");
        $('[id*=DeathCertificateTime]').mask('00:00');
        $('[id*=DeathCertificateTime]').on("change", function () {
            var reg = /^([0-9]|0[0-9]|1[0-9]|2[0-3]):[0-5][0-9]$/;
            if (!reg.test($('[id*=DeathCertificateTime]').val())) {
                alert("Please enter valid time in 24 hour format");
                $('[id*=DeathCertificateTime]').val('');
                $('[id*=DeathCertificateTime]').focus();
            }
        });
    });
</script>


