@model NHS.Common.clsSJRFormProblemType
@{
    ViewBag.Title = "Stage2SJRFormSecondStep";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<br />
<div class="container">
    <div class="row form-group">
        <div class="col-xs-12 col-lg-12">
            <div class="row" align="right">
                <div class="col-md-12">
                    <input type="image" src="~/images/Delete.png" width="30" height="30" alt="Submit" id="btnCloseStage2SJRForm" title="Close" />
                </div>
            </div>
            <ul class="nav nav-pills nav-justified thumbnail setup-panel">
                <li class="disabled">
                    <a href="@Url.Action("Stage3SJRformFirstStep", "home", new { id=Model.Patient_ID })">
                        <h4 class="list-group-item-heading">
                            <b>Phase of Care Assessment</b>
                        </h4>
                    </a>
                </li>
                <li class="active">
                    <a href="@Url.Action("Stage3SJRFormSecondStep", "home", new { id=Model.Patient_ID })">
                        <h4 class="list-group-item-heading">
                            <b>Assessment Of Problems in Healthcare</b>
                        </h4>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div>
        <div class="row setup-content" id="step-2">
            <div class="col-xs-12 col-lg-12">
                @using (Html.BeginForm("Stage3SJRformSecondStep", "Home", FormMethod.Post, new { @id = "my_form" }))
                {
                    <div class="col-md-12 well">
                        <div class="form-section">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="lable_title">
                                        <h2>ASSESSMENT OF PROBLEMS IN HEALTHCARE  </h2>
                                    </div>
                                </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row_bar">
                                            <span>Were there any problems with the care of the patient?</span>

                                            <div class="row_bar checkbox-row">
                                                @if (Model.ProblemOccured == true)
                                                {
                                                    <input type="radio" id="ProblemOccured1" checked name="ProblemOccured" value="Yes"><span> Yes </span>
                                                }
                                                else
                                                {
                                                    <input type="radio" id="ProblemOccured1" name="ProblemOccured" value="Yes"><span> Yes </span>
                                                }
                                                @if (Model.ProblemOccured == false)
                                                {
                                                    <input type="radio" id="ProblemOccured2" checked name="ProblemOccured" value="No"><span> No </span>
                                                }
                                                else
                                                {
                                                    <input type="radio" id="ProblemOccured2" name="ProblemOccured" value="No"><span> No </span>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5 dstable3">
                                        <table style="border-collapse:separate;border:solid black 1px;border-radius:6px; -moz-border-radius:6px; border-color:#a9d7cc;" width="100%">
                                            <tbody>
                                                <tr style="border-collapse:separate;border:solid black 1px;border-radius:6px; -moz-border-radius:6px; border-color:#a9d7cc">
                                                    <td style="border-left:solid black 1px; border-top:solid black 1px; border-color:#a9d7cc; padding:5px 5px;" width="40%"><b>Patient ID</b></td>
                                                    <td style="border-left:solid black 1px; border-top:solid black 1px; border-color:#a9d7cc; padding:5px 5px;">@Model.PatientId</td>
                                                </tr>
                                                <tr style="border-collapse:separate;border:solid black 1px;border-radius:6px; -moz-border-radius:6px; border-color:#a9d7cc">
                                                    <td style="border-left:solid black 1px; border-top:solid black 1px; border-color:#a9d7cc; padding:5px 5px;"><b>Patient Name</b></td>
                                                    <td style="border-left:solid black 1px; border-top:solid black 1px; border-color:#a9d7cc; padding:5px 5px;">@Model.PatientName</td>

                                                </tr>
                                                <tr style="border-left:solid black 1px; border-top:solid black 1px; border-color:#a9d7cc">
                                                    <td style="border-left:solid black 1px; border-top:solid black 1px; border-color:#a9d7cc; padding:5px 5px;"><b>DOB</b></td>
                                                    <td style="border-left:solid black 1px; border-top:solid black 1px; border-color:#a9d7cc; padding:5px 5px;">@Model.DOB</td>
                                                </tr>
                                            </tbody>
                                        </table>

                                    </div>
                                    @*<div class="col-md-12">*@
                                    <div class="col-md-12">
                                        <div class="lable_title">
                                            <h2>PROBLEM TYPES </h2>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="row_bar checkbox-row mb-3">
                                            <span>1. Problem in assessment, investigation or diagnosis (including assessment of pressure ulcer risk, venous thromboembolism (VTE) risk, history of falls)</span>
                                        </div>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="row_bar checkbox-row mb-3">
                                            <span>Did the problem lead to harm? </span>
                                        </div>
                                    </div>
                                    <div class="col-md-7">
                                        <div class="row_bar checkbox-row mb-3">
                                            <select class="form-control" id="AssessmentResponseID" name="AssessmentResponseID">
                                                @if (Model.AssessmentResponseID == 0)
                                                {
                                                    <option selected value="0">Please Select</option>
                                                }
                                                else
                                                {
                                                    <option value="0">Please Select</option>
                                                }
                                                @if (Model.AssessmentResponseID == 1)
                                                {
                                                    <option selected value="1">Yes</option>
                                                }
                                                else
                                                {
                                                    <option value="1">Yes</option>
                                                }
                                                @if (Model.AssessmentResponseID == 2)
                                                {
                                                    <option selected value="2">No</option>
                                                }
                                                else
                                                {
                                                    <option value="2">No</option>
                                                }
                                                @if (Model.AssessmentResponseID == 3)
                                                {
                                                    <option selected value="3">Probably</option>
                                                }
                                                else
                                                {
                                                    <option value="3">Probably</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="row_bar">
                                            <span>In which phase(s) did the problem occur? </span>
                                        </div>
                                    </div>
                                    <div class="col-md-7">
                                        <div class="row_bar">
                                            <select class="form-control" id="AssessmentCarePhaseID" name="AssessmentCarePhaseID">
                                                @if (Model.AssessmentCarePhaseID == 0)
                                                {
                                                    <option selected value="0">Please Select</option>
                                                }
                                                else
                                                {
                                                    <option value="0">Please Select</option>
                                                }
                                                @if (Model.AssessmentCarePhaseID == 1)
                                                {
                                                    <option selected value="1">Admission and initial assessment</option>
                                                }
                                                else
                                                {
                                                    <option value="1">Admission and initial assessment</option>
                                                }
                                                @if (Model.AssessmentCarePhaseID == 2)
                                                {
                                                    <option selected value="2">Ongoing care</option>
                                                }
                                                else
                                                {
                                                    <option value="2">Ongoing care</option>
                                                }
                                                @if (Model.AssessmentCarePhaseID == 3)
                                                {
                                                    <option selected value="3">Care during procedure</option>
                                                }
                                                else
                                                {
                                                    <option value="3">Care during procedure</option>
                                                }
                                                @if (Model.AssessmentCarePhaseID == 4)
                                                {
                                                    <option selected value="4">Perioperative care</option>
                                                }
                                                else
                                                {
                                                    <option value="4">Perioperative care</option>
                                                }
                                                @if (Model.AssessmentCarePhaseID == 5)
                                                {
                                                    <option selected value="5">End-of-life care</option>
                                                }
                                                else
                                                {
                                                    <option value="5">End-of-life care</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="row_bar checkbox-row mb-3">
                                            <span>2. Problem with medication / IV fluids / electrolytes / oxygen (other than anaesthetic) </span>
                                        </div>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="row_bar checkbox-row mb-3">
                                            <span>Did the problem lead to harm? </span>
                                        </div>
                                    </div>
                                    <div class="col-md-7">
                                        <div class="row_bar checkbox-row mb-3">
                                            <select class="form-control" id="MedicationResponseID" name="MedicationResponseID">
                                                @if (Model.MedicationResponseID == 0)
                                                {
                                                    <option selected value="0">Please Select</option>
                                                }
                                                else
                                                {
                                                    <option value="0">Please Select</option>
                                                }
                                                @if (Model.MedicationResponseID == 1)
                                                {
                                                    <option selected value="1">Yes</option>
                                                }
                                                else
                                                {
                                                    <option value="1">Yes</option>
                                                }
                                                @if (Model.MedicationResponseID == 2)
                                                {
                                                    <option selected value="2">No</option>
                                                }
                                                else
                                                {
                                                    <option value="2">No</option>
                                                }
                                                @if (Model.MedicationResponseID == 3)
                                                {
                                                    <option selected value="3">Probably</option>
                                                }
                                                else
                                                {
                                                    <option value="3">Probably</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="row_bar">
                                            <span>In which phase(s) did the problem occur? </span>
                                        </div>
                                    </div>
                                    <div class="col-md-7">
                                        <div class="row_bar">
                                            <select class="form-control" id="MedicationCarePhaseID" name="MedicationCarePhaseID">
                                                @if (Model.MedicationCarePhaseID == 0)
                                                {
                                                    <option selected value="0">Please Select</option>
                                                }
                                                else
                                                {
                                                    <option value="0">Please Select</option>
                                                }
                                                @if (Model.MedicationCarePhaseID == 1)
                                                {
                                                    <option selected value="1">Admission and initial assessment</option>
                                                }
                                                else
                                                {
                                                    <option value="1">Admission and initial assessment</option>
                                                }
                                                @if (Model.MedicationCarePhaseID == 2)
                                                {
                                                    <option selected value="2">Ongoing care</option>
                                                }
                                                else
                                                {
                                                    <option value="2">Ongoing care</option>
                                                }
                                                @if (Model.MedicationCarePhaseID == 3)
                                                {
                                                    <option selected value="3">Care during procedure</option>
                                                }
                                                else
                                                {
                                                    <option value="3">Care during procedure</option>
                                                }
                                                @if (Model.MedicationCarePhaseID == 4)
                                                {
                                                    <option selected value="4">Perioperative care</option>
                                                }
                                                else
                                                {
                                                    <option value="4">Perioperative care</option>
                                                }
                                                @if (Model.MedicationCarePhaseID == 5)
                                                {
                                                    <option selected value="5">End-of-life care</option>
                                                }
                                                else
                                                {
                                                    <option value="5">End-of-life care</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="row_bar checkbox-row mb-3">
                                            <span>3. Problem related to treatment and management plan (including prevention of pressure ulcers, falls, VTE) </span>
                                        </div>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="row_bar checkbox-row mb-3">
                                            <span>Did the problem lead to harm? </span>
                                        </div>
                                    </div>
                                    <div class="col-md-7">
                                        <div class="row_bar checkbox-row mb-3">
                                            <select class="form-control" id="TreatmentResponseID" name="TreatmentResponseID">
                                                @if (Model.TreatmentResponseID == 0)
                                                {
                                                    <option selected value="0">Please Select</option>
                                                }
                                                else
                                                {
                                                    <option value="0">Please Select</option>
                                                }
                                                @if (Model.TreatmentResponseID == 1)
                                                {
                                                    <option selected value="1">Yes</option>
                                                }
                                                else
                                                {
                                                    <option value="1">Yes</option>
                                                }
                                                @if (Model.TreatmentResponseID == 2)
                                                {
                                                    <option selected value="2">No</option>
                                                }
                                                else
                                                {
                                                    <option value="2">No</option>
                                                }
                                                @if (Model.TreatmentResponseID == 3)
                                                {
                                                    <option selected value="3">Probably</option>
                                                }
                                                else
                                                {
                                                    <option value="3">Probably</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="row_bar">
                                            <span>In which phase(s) did the problem occur? </span>
                                        </div>
                                    </div>
                                    <div class="col-md-7">
                                        <div class="row_bar">
                                            <select class="form-control" id="TreatmentCarePhaseID" name="TreatmentCarePhaseID">
                                                @if (Model.TreatmentCarePhaseID == 0)
                                                {
                                                    <option selected value="0">Please Select</option>
                                                }
                                                else
                                                {
                                                    <option value="0">Please Select</option>
                                                }
                                                @if (Model.TreatmentCarePhaseID == 1)
                                                {
                                                    <option selected value="1">Admission and initial assessment</option>
                                                }
                                                else
                                                {
                                                    <option value="1">Admission and initial assessment</option>
                                                }
                                                @if (Model.TreatmentCarePhaseID == 2)
                                                {
                                                    <option selected value="2">Ongoing care</option>
                                                }
                                                else
                                                {
                                                    <option value="2">Ongoing care</option>
                                                }
                                                @if (Model.TreatmentCarePhaseID == 3)
                                                {
                                                    <option selected value="3">Care during procedure</option>
                                                }
                                                else
                                                {
                                                    <option value="3">Care during procedure</option>
                                                }
                                                @if (Model.TreatmentCarePhaseID == 4)
                                                {
                                                    <option selected value="4">Perioperative care</option>
                                                }
                                                else
                                                {
                                                    <option value="4">Perioperative care</option>
                                                }
                                                @if (Model.TreatmentCarePhaseID == 5)
                                                {
                                                    <option selected value="5">End-of-life care</option>
                                                }
                                                else
                                                {
                                                    <option value="5">End-of-life care</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="row_bar checkbox-row mb-3">
                                            <span>4. Problem with infection management </span>
                                        </div>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="row_bar checkbox-row mb-3">
                                            <span>Did the problem lead to harm? </span>
                                        </div>
                                    </div>
                                    <div class="col-md-7">
                                        <div class="row_bar checkbox-row mb-3">
                                            <select class="form-control" id="InfectionResponseID" name="InfectionResponseID">
                                                @if (Model.InfectionResponseID == 0)
                                                {
                                                    <option selected value="0">Please Select</option>
                                                }
                                                else
                                                {
                                                    <option value="0">Please Select</option>
                                                }
                                                @if (Model.InfectionResponseID == 1)
                                                {
                                                    <option selected value="1">Yes</option>
                                                }
                                                else
                                                {
                                                    <option value="1">Yes</option>
                                                }
                                                @if (Model.InfectionResponseID == 2)
                                                {
                                                    <option selected value="2">No</option>
                                                }
                                                else
                                                {
                                                    <option value="2">No</option>
                                                }
                                                @if (Model.InfectionResponseID == 3)
                                                {
                                                    <option selected value="3">Probably</option>
                                                }
                                                else
                                                {
                                                    <option value="3">Probably</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="row_bar">
                                            <span>In which phase(s) did the problem occur? </span>
                                        </div>
                                    </div>
                                    <div class="col-md-7">
                                        <div class="row_bar">
                                            <select class="form-control" id="InfectionCarePhaseID" name="InfectionCarePhaseID">
                                                @if (Model.InfectionCarePhaseID == 0)
                                                {
                                                    <option selected value="0">Please Select</option>
                                                }
                                                else
                                                {
                                                    <option value="0">Please Select</option>
                                                }
                                                @if (Model.InfectionCarePhaseID == 1)
                                                {
                                                    <option selected value="1">Admission and initial assessment</option>
                                                }
                                                else
                                                {
                                                    <option value="1">Admission and initial assessment</option>
                                                }
                                                @if (Model.InfectionCarePhaseID == 2)
                                                {
                                                    <option selected value="2">Ongoing care</option>
                                                }
                                                else
                                                {
                                                    <option value="2">Ongoing care</option>
                                                }
                                                @if (Model.InfectionCarePhaseID == 3)
                                                {
                                                    <option selected value="3">Care during procedure</option>
                                                }
                                                else
                                                {
                                                    <option value="4">Perioperative care</option>
                                                }
                                                @if (Model.InfectionCarePhaseID == 4)
                                                {
                                                    <option selected value="5">End-of-life care</option>
                                                }
                                                else
                                                {
                                                    <option value="5">End-of-life care</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="row_bar checkbox-row mb-3">
                                            <span>5. Problem related to operation / invasive procedure other than infection control) </span>
                                        </div>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="row_bar checkbox-row mb-3">
                                            <span>Did the problem lead to harm? </span>
                                        </div>
                                    </div>
                                    <div class="col-md-7">
                                        <div class="row_bar checkbox-row mb-3">
                                            <select class="form-control" id="ProcedureResponseID" name="ProcedureResponseID">
                                                @if (Model.ProcedureResponseID == 0)
                                                {
                                                    <option selected value="0">Please Select</option>
                                                }
                                                else
                                                {
                                                    <option value="0">Please Select</option>
                                                }
                                                @if (Model.ProcedureResponseID == 1)
                                                {
                                                    <option selected value="1">Yes</option>
                                                }
                                                else
                                                {
                                                    <option value="1">Yes</option>
                                                }
                                                @if (Model.ProcedureResponseID == 2)
                                                {
                                                    <option selected value="2">No</option>
                                                }
                                                else
                                                {
                                                    <option value="2">No</option>
                                                }
                                                @if (Model.ProcedureResponseID == 3)
                                                {
                                                    <option selected value="3">Probably</option>
                                                }
                                                else
                                                {
                                                    <option value="3">Probably</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="row_bar">
                                            <span>In which phase(s) did the problem occur? </span>
                                        </div>
                                    </div>
                                    <div class="col-md-7">
                                        <div class="row_bar">
                                            <select class="form-control" id="ProcedureCarePhaseID" name="ProcedureCarePhaseID">
                                                @if (Model.ProcedureCarePhaseID == 0)
                                                {
                                                    <option selected value="0">Please Select</option>
                                                }
                                                else
                                                {
                                                    <option value="0">Please Select</option>
                                                }
                                                @if (Model.ProcedureCarePhaseID == 1)
                                                {
                                                    <option selected value="1">Admission and initial assessment</option>
                                                }
                                                else
                                                {
                                                    <option value="1">Admission and initial assessment</option>
                                                }
                                                @if (Model.ProcedureCarePhaseID == 2)
                                                {
                                                    <option selected value="2">Ongoing care</option>
                                                }
                                                else
                                                {
                                                    <option value="2">Ongoing care</option>
                                                }
                                                @if (Model.ProcedureCarePhaseID == 3)
                                                {
                                                    <option selected value="3">Care during procedure</option>
                                                }
                                                else
                                                {
                                                    <option value="3">Care during procedure</option>
                                                }
                                                @if (Model.ProcedureCarePhaseID == 4)
                                                {
                                                    <option selected value="4">Perioperative care</option>
                                                }
                                                else
                                                {
                                                    <option value="4">Perioperative care</option>
                                                }
                                                @if (Model.ProcedureCarePhaseID == 5)
                                                {
                                                    <option selected value="5">End-of-life care</option>
                                                }
                                                else
                                                {
                                                    <option value="5">End-of-life care</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="row_bar checkbox-row mb-3">
                                            <span>6. Problem in clinical monitoring (including failure to plan, to undertake, or to recognise and respond to changes)</span>
                                        </div>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="row_bar">
                                            <span>Did the problem lead to harm? </span>
                                        </div>
                                    </div>
                                    <div class="col-md-7">
                                        <div class="row_bar">
                                            <select class="form-control" id="MonitoringResponseID" name="MonitoringResponseID">
                                                @if (Model.MonitoringResponseID == 0)
                                                {
                                                    <option selected value="0">Please Select</option>
                                                }
                                                else
                                                {
                                                    <option value="0">Please Select</option>
                                                }
                                                @if (Model.MonitoringResponseID == 1)
                                                {
                                                    <option selected value="1">Yes</option>
                                                }
                                                else
                                                {
                                                    <option value="1">Yes</option>
                                                }
                                                @if (Model.MonitoringResponseID == 2)
                                                {
                                                    <option selected value="2">No</option>
                                                }
                                                else
                                                {
                                                    <option value="2">No</option>
                                                }
                                                @if (Model.MonitoringResponseID == 3)
                                                {
                                                    <option selected value="3">Probably</option>
                                                }
                                                else
                                                {
                                                    <option value="3">Probably</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="row_bar">
                                            <span>7. Problem in resuscitation following a cardiac or respiratory arrest (including cardiopulmonary resuscitation) </span>
                                        </div>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="row_bar">
                                            <span>Did the problem lead to harm? </span>
                                        </div>
                                    </div>
                                    <div class="col-md-7">
                                        <div class="row_bar">
                                            <select class="form-control" id="ResuscitationResponseID" name="ResuscitationResponseID">
                                                @if (Model.ResuscitationResponseID == 0)
                                                {
                                                    <option selected value="0">Please Select</option>
                                                }
                                                else
                                                {
                                                    <option value="0">Please Select</option>
                                                }
                                                @if (Model.ResuscitationResponseID == 1)
                                                {
                                                    <option selected value="1">Yes</option>
                                                }
                                                else
                                                {
                                                    <option value="1">Yes</option>
                                                }
                                                @if (Model.ResuscitationResponseID == 2)
                                                {
                                                    <option selected value="2">No</option>
                                                }
                                                else
                                                {
                                                    <option value="2">No</option>
                                                }
                                                @if (Model.ResuscitationResponseID == 3)
                                                {
                                                    <option selected value="3">Probably</option>
                                                }
                                                else
                                                {
                                                    <option value="3">Probably</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="row_bar">
                                            <span>8. Problem in any other type not fitting the categories above (including communication and organisational issues)  </span>
                                        </div>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="row_bar">
                                            <span>Did the problem lead to harm? </span>
                                        </div>
                                    </div>
                                    <div class="col-md-7">
                                        <div class="row_bar">
                                            <select class="form-control" id="OthertypeResponseID" name="OthertypeResponseID">
                                                @if (Model.OthertypeResponseID == 0)
                                                {
                                                    <option selected value="0">Please Select</option>
                                                }
                                                else
                                                {
                                                    <option value="0">Please Select</option>
                                                }
                                                @if (Model.OthertypeResponseID == 1)
                                                {
                                                    <option selected value="1">Yes</option>
                                                }
                                                else
                                                {
                                                    <option value="1">Yes</option>
                                                }
                                                @if (Model.OthertypeResponseID == 2)
                                                {
                                                    <option selected value="2">No</option>
                                                }
                                                else
                                                {
                                                    <option value="2">No</option>
                                                }
                                                @if (Model.OthertypeResponseID == 3)
                                                {
                                                    <option selected value="3">Probably</option>
                                                }
                                                else
                                                {
                                                    <option value="3">Probably</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="row_bar">
                                            <span>In which phase(s) did the problem occur? </span>
                                        </div>
                                    </div>
                                    <div class="col-md-7">
                                        <div class="row_bar">
                                            <select class="form-control" id="OthertypeCarePhaseID" name="OthertypeCarePhaseID">
                                                @if (Model.OthertypeCarePhaseID == 0)
                                                {
                                                    <option selected value="0">Please Select</option>
                                                }
                                                else
                                                {
                                                    <option value="0">Please Select</option>
                                                }
                                                @if (Model.OthertypeCarePhaseID == 1)
                                                {
                                                    <option selected value="1">Admission and initial assessment</option>
                                                }
                                                else
                                                {
                                                    <option value="1">Admission and initial assessment</option>
                                                }
                                                @if (Model.OthertypeCarePhaseID == 2)
                                                {
                                                    <option selected value="2">Ongoing care</option>
                                                }
                                                else
                                                {
                                                    <option value="2">Ongoing care</option>
                                                }
                                                @if (Model.OthertypeCarePhaseID == 3)
                                                {
                                                    <option selected value="3">Care during procedure</option>
                                                }
                                                else
                                                {
                                                    <option value="3">Care during procedure</option>
                                                }
                                                @if (Model.OthertypeCarePhaseID == 4)
                                                {
                                                    <option selected value="4">Perioperative care</option>
                                                }
                                                else
                                                {
                                                    <option value="4">Perioperative care</option>
                                                }
                                                @if (Model.OthertypeCarePhaseID == 5)
                                                {
                                                    <option selected value="5">End-of-life care</option>
                                                }
                                                else
                                                {
                                                    <option value="5">End-of-life care</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="row_bar">
                                            <span>AVOIDABILITY SCORE</span>
                                        </div>
                                    </div>
                                    <div class="col-md-7">
                                        <div class="row_bar">
                                            <select class="form-control" id="AvoidabilityScoreID" name="AvoidabilityScoreID">
                                                @if (Model.AvoidabilityScoreID == -1)
                                                {
                                                    <option selected value="-1">Please Select</option>
                                                }
                                                else
                                                {
                                                    <option value="-1">Please Select</option>
                                                }
                                                @if (Model.AvoidabilityScoreID == 0)
                                                {
                                                    <option selected value="0">Grade 0: No suboptimal care (unavoidable</option>
                                                }
                                                else
                                                {
                                                    <option value="0">Grade 0: No suboptimal care (unavoidable</option>
                                                }
                                                @if (Model.AvoidabilityScoreID == 1)
                                                {
                                                    <option selected value="1">Grade 1: Suboptimal care, but different management would have made no difference to the outcome (unavoidable)</option>
                                                }
                                                else
                                                {
                                                    <option value="1">Grade 1: Suboptimal care, but different management would have made no difference to the outcome (unavoidable)</option>
                                                }
                                                @if (Model.AvoidabilityScoreID == 2)
                                                {
                                                    <option selected value="2">Grade 2: Suboptimal care, different care MIGHT have made a difference (possible avoidable death)</option>
                                                }
                                                else
                                                {
                                                    <option value="2">Grade 2: Suboptimal care, different care MIGHT have made a difference (possible avoidable death)</option>
                                                }
                                                @if (Model.AvoidabilityScoreID == 3)
                                                {
                                                    <option selected value="3">Grade 3: Suboptimal care, different care WOULD REASONABLY BE EXPECTED to have made a difference (probable avoidable death)</option>
                                                }
                                                else
                                                {
                                                    <option value="3">Grade 3: Suboptimal care, different care WOULD REASONABLY BE EXPECTED to have made a difference (probable avoidable death)</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row_bar">
                                            <span>Key Learning/Comments </span>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="row_bar">
                                            @Html.TextAreaFor(model => model.Comments, 5, 100, new { @class = "form-control" })
                                        </div>
                                    </div>
                                    @*</div>*@
                                </div>
                            </div>
                        <input type="hidden" id="hdfProblemOccured" name="hdfProblemOccured" value="" />
                        
                    </div>
                    <div class="pull-right">
                        <button id="BtnPrevious" name="BtnPrevious" class="btn btn-primary btn-lg">Previous</button>
                        <button id="BtnFinish" type="submit" name="BtnFinish" class="btn btn-primary btn-lg">Save & Finish</button>
                    </div>
                }
            </div>
            <br />
            <br />
            @*<div class="pull-right">
                <button class="btn btn-primary btn-lg" id="btnCloseStage2SJRForm" name="btnCloseStage2SJRForm">Close</button>
                </div>*@
        </div>
    </div>
    <div class="modal fade" id="modelStage2SJRForm">
        <div class="modal-dialog modal-md">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Message</h4>
                    <button type="button" class="close" data-dismiss="modal">×</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <div class="form-section" style="text-align:left">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row_bar">
                                    <div>Do you want to exit without saving your changes?</div>
                                </div>
                            </div>
                            <br />
                            <br />
                            <div class="col-md-4">
                                <button type="button" class="btn btn-primary btn-block" id="btnModelClose1" data-dismiss="modal" formmethod="post" onclick="location.href='@Url.Action("MortalityReview", "Home", new { id=Model.Patient_ID })'">Yes</button>
                            </div>
                            <div class="col-md-4">
                                <button type="submit" class="btn btn-primary btn-block" name="btnCloseYes" id="btnCloseYes">No</button>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            $("#btnCloseStage2SJRForm").click(function () {
                $("#modelStage2SJRForm").modal();
            });
        });
    </script>
    <script>
        $(document).ready(function () {
            $("#btnCloseYes").click(function () {
                $("#modelStage2SJRForm").modal('hide');
            });
        });
    </script>

    <script type="text/javascript">
$(function () {
     $("#btnModelClose1").click(function(){
window.location.href = "@Url.Action("MortalityReview", "Home", new { id = Model.Patient_ID })";
    });

});
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('input:radio').change(function () {
                var radioVal = $("input[name=ProblemOccured]:checked").val();
                $('#hdfProblemOccured').val(radioVal);
            });
        });
    </script>
