@model NHS.Common.DTO.COVIDExternalCommsReport
@using NHS.Models;
@{
    ViewBag.Title = "COVID 19 External Comms Tracker";
    Layout = "~/Views/Shared/_Layout.cshtml";
    <style>
        @*.square {
            height: 120px;
            width: 240px;
            border: solid black 1px;
            border-color: #d3d3d3;
            border-style: solid;
            padding: 10px 0 0 0;
        }*@

        .square-large {
            height: 530px;
            width: 1150px;
            border: solid black 1px;
            border-color: #000000;
            border-style: solid;
            padding: 40px 0 20px 0;
        }
        .square-large1 {
	height: 300px;
	width: 1050px;
	border: solid black 1px;
	border-color: #0072c6;
	border-style: solid;
	padding: 6px 0 0 0;
}
    @*.square {
    height: 120px;
    width: 246px;
    border-left: solid black 1px;
    border-bottom: solid black 1px;
    border-right: solid black 1px;
    border-color: #d3d3d3;
    border-style: solid;
    padding: 10px 0 0 0;
}*@
.ds_doted_line1 {
	/* border-bottom: 2px #212529 dotted; */
	border-right: 2px #212529 solid;
	padding: 5px 5px 5px 5px;
	height: 83px;
}
.ds_doted_line2{
	/*border-bottom:2px #212529 dotted;*/
	border-right:2px #212529 solid;
	padding:5px 5px 5px 5px;
}
.ds_doted_line2a{
	/*border-bottom:2px #212529 dotted;*/
	border:2px #212529 solid;
	padding:5px 5px 5px 5px;
}
.ds_doted_line3 {
	border-top: 1px #70a397 solid;
	padding: 5px 5px 5px 5px;
	margin: 0 0 -9px 0;
}
.ds_doted_line4{
	/*border-bottom:2px #212529 dotted;*/
	border-right: 1px #70a397 solid;
	padding:5px 5px 5px 5px;
	height: 83px;
}
.ds_doted_line5{
	/*border-bottom: 1px #70a397 solid;
	border-right:2px #212529 dotted;*/
	padding:5px 5px 5px 5px;
	height: 83px;
}
    </style>
}
<div>
<h2 align="center">CHESS &amp; CPNS Tracking Dashboard</h2>
<div  style="width:95%; padding:0 10px 20px 0;min-height: 550px;" class="square-large">
    <h4 style="color:#70a397;margin: 6px 0 19px 0;font-size: 30px;font-weight: bold;" align="center">CHESS</h4>
    <table width="100%">
        <tr>
        </tr>
        <tr>
            <td><h6  style="color:#70a397; width:100%;font-size: 17px;font-weight: bold;">Positive Notification</h6></td>
        </tr>
        <tr><td>&nbsp;</td></tr>
        <tr>
            <td width="20%">
                <table width="100%">
                    <tr><td class="ds_doted_line1" style="" align="center"><span style="font-family:verdana;">New Positives <br/> (YTD)</span></td></tr>
                    <tr><td class="ds_doted_line2"><div vertical-align="middle" class="square ds_doted_line3" style="background-color:#fff"><div align="center"><a href="@Url.Action("COVIDPatientListing", "Home", new { pPageNo = 1, searchfield = "", pageSize = 10, SortColumn = "", frompager = false,
IsExternalComms = true,
IsBreathing = false,
IsLevelOfCare = false,
                                                                                                                                  PatientLocation = "",
                                                                                                                              })" style="font-size:55px; color:#0072c6 !important;"><u>@Model.CHESSNewPositives</u></a></div></td></tr>
                </table>
            </td>
            <td width="20%">
                <table  width="100%">
                    <tr><td align="center" class="ds_doted_line4"><span style="font-family:verdana;">Backlog Notified (Test Results <br/> on or before @Model.BacklogDate)</span></td></tr>
                    <tr><td class="ds_doted_line4"><div vertical-align="middle" class="square  ds_doted_line3" style="background-color:#fff"><div align="center"><a href="@Url.Action("COVIDPatientListing", "Home", new { pPageNo = 1, searchfield = "", pageSize = 10, SortColumn = "", frompager = false,
                                                                                                                                  fromfilter = true
                                                                                                                              })" style="font-size:55px; color:	#52d26a !important;"><u>@Model.CHESSBacklogNotified</u></a></div></td></tr>
                </table>
            </td>
            <td width="20%">
                <table width="100%">
                    <tr><td class="ds_doted_line1" style="" align="center"><span style="font-family:verdana;">Backlog Pending (Test Results <br /> on or before @Model.BacklogDate)</span></td></tr>
                    <tr><td class="ds_doted_line2"><div vertical-align="middle" class="square ds_doted_line3" style="background-color:#fff"><div align="center"><a href="@Url.Action("COVIDPatientListing", "Home", new { pPageNo = 1, searchfield = "", pageSize = 10, SortColumn = "", frompager = false,
                                                                                                                                  fromfilter = true
                                                                                                                              })" style="font-size:55px; color:#ff2e37 !important;"><u>@Model.CHESSBacklogPending</u></a></div></td></tr>
                </table>
            </td>
            <td width="20%">
                <table width="100%">
                    <tr><td class="ds_doted_line4" style="" align="center"><span style="font-family:verdana;">Live Notified (Test Results <br/>on or after @Model.LiveDate)</span></td></tr>
                    <tr><td  class="ds_doted_line4" vertical-align="middle"><div vertical-align="middle" class="square  ds_doted_line3" style="background-color:#fff"><div align="center"><a href="@Url.Action("COVIDPatientListing", "Home", new { pPageNo = 1, searchfield = "", pageSize = 10, SortColumn = "", frompager = false,
                                                                                                                                  IsExternalComms = true,
                                                                                                                              })" style="font-size:55px; color:	#52d26a !important;"><u>@Model.CHESSNotified</u></a></div></td></tr>
                </table>
            </td>
            <td width="20%">
                <table width="100%">
                    <tr><td class="ds_doted_line5" style="" align="center"><span style="font-family:verdana;">Live Pending (Test Results <br />on or after @Model.LiveDate)</span></td></tr>
                    <tr><td vertical-align="middle"><div vertical-align="middle" class="square ds_doted_line3" style="background-color:#fff"><div align="center"><a href="@Url.Action("COVIDPatientListing", "Home", new { pPageNo = 1, searchfield = "", pageSize = 10, SortColumn = "", frompager = false,
                                                                                                                                  IsExternalComms = true,
                                                                                                                              })" style="font-size:55px; color:#fec600 !important;"><u>@Model.CHESSNotifiedPending</u></a></div></td></tr>
                </table>
            </td>
        </tr>
    </table>
    <br/>
    <table width="100%">
        <tr>
            <td><h6 style="color:#70a397; width:100%;font-size: 17px;font-weight: bold;margin: 24px 0 0 0;">Discharge/Death Notification</h6></td>
        </tr>
        <tr><td>&nbsp;</td></tr>
        <tr>
            <td width="20%">
                <table width="100%">
                    <tr><td class="ds_doted_line1" style="" align="center"><span style="font-family:verdana;">Dicharge/Deaths <br/> (YTD)</span></td></tr>
                    <tr><td class="ds_doted_line2"><div vertical-align="middle" class="square ds_doted_line3"><div align="center"><a href="@Url.Action("COVIDPatientListing", "Home", new { pPageNo = 1, searchfield = "", pageSize = 10, SortColumn = "", frompager = false,
                                                                                                                           })" style="font-size:55px; color:#0072c6 !important;"><u>@Model.CHESSDischargeDeath</u></a></div></td></tr>
                </table>
            </td>
            <td width="20%">
                <table width="100%">
                    <tr><td class="ds_doted_line4" style="" align="center"><span style="font-family:verdana;">Backlog Notified (Test Results <br />on or before @Model.BacklogDate)</span></td></tr>
                    <tr><td class="ds_doted_line4"><div vertical-align="middle" class="square ds_doted_line3"><div align="center"><a href="@Url.Action("COVIDPatientListing", "Home", new { pPageNo = 1, searchfield = "", pageSize = 10, SortColumn = "", frompager = false,
                                                                                                                             fromfilter = true
                                                                                                                              })" style="font-size:55px; color:	#52d26a !important;"><u>@Model.CHESSDischargeDeathBacklogNotified</u></a></div></td></tr>
                </table>
            </td>
            <td width="20%">
                <table width="100%">
                    <tr><td class="ds_doted_line1" style="" align="center"><span style="font-family:verdana;">Backlog Pending (Test Results <br />on or before @Model.BacklogDate)</span></td></tr>
                    <tr><td class="ds_doted_line2"><div vertical-align="middle" class="square  ds_doted_line3" ><div align="center"><a href="@Url.Action("COVIDPatientListing", "Home", new { pPageNo = 1, searchfield = "", pageSize = 10, SortColumn = "", frompager = false,
                                                                                                                           })" style="font-size:55px; color:#ff2e37 !important;"><u>@Model.CHESSDischargeDeathBacklogPending</u></a></div></td></tr>
                </table>
            </td>
            <td width="20%">
                <table width="100%">
                    <tr><td class="ds_doted_line4" style="" align="center"><span style="font-family:verdana;">Live Notified (Test Results <br />on or after @Model.LiveDate)</span></td></tr>
                    <tr><td class="ds_doted_line4" vertical-align="middle"><div vertical-align="middle" class="square ds_doted_line3" ><div align="center"><a href="@Url.Action("COVIDPatientListing", "Home", new { pPageNo = 1, searchfield = "", pageSize = 10, SortColumn = "", frompager = false,
                                                                                                                       })" style="font-size:55px; color:	#52d26a !important;"><u>@Model.CHESSDischargeDeathNotified</u></a></div></td></tr>
                </table>
            </td>
            <td width="20%">
                <table width="100%">
                    <tr><td class="ds_doted_line5" style="" align="center"><span style="font-family:verdana;">Live Pending (Test Results <br />on or after @Model.LiveDate)</span></td></tr>
                    <tr><td vertical-align="middle"><div vertical-align="middle" class="square ds_doted_line3"><div align="center"><a href="@Url.Action("COVIDPatientListing", "Home", new { pPageNo = 1, searchfield = "", pageSize = 10, SortColumn = "", frompager = false,
                                                                                                                         })" style="font-size:55px; color:#fec600 !important;"><u>@Model.CHESSDischargeDeathNotifiedPending</u></a></div></td></tr>
                </table>
            </td>
        </tr>
    </table>
	<br/>
</div>
<br/>
<div align="center" style="width:95%" class="square-large1">
    <h4 style="color:#70a397;margin: 6px 0 -5px 0;font-size: 30px;font-weight: bold;">CPNS</h4>    
    <table  width="100%">
        <tr>
        </tr>
        <tr>
            <td><h6 style="color:#70a397; width:100%;font-size: 17px;font-weight: bold;margin: 24px 0 0 0;">Deaths Notification</h6></td>
        </tr>
        <tr><td>&nbsp;</td></tr>
        <tr>
            <td width="20%">
                <table width="100%">
 @* <tr><td class="ds_doted_line1" style="" align="center"><span style="font-family:verdana;">Deaths <br/>(YTD)</span></td></tr>*@
 <tr><td class="ds_doted_line2">0000</td></tr>
                    </table>
                </td>
                <td width="20%">
                    <table width="100%">
@*<tr><td class="ds_doted_line4" style="" align="center"><span style="font-family:verdana;">Backlog Notified (Test Results <br />on or before @Model.BacklogDate)</span></td></tr>*@
                        <tr><td class="ds_doted_line4">1111</td></tr>
                    </table>
                </td>
                <td width="20%">
                    <table width="100%">
                        <tr><td class="ds_doted_line1" style="" align="center"><span style="font-family:verdana;">Backlog Pending (Test Results <br />on or before @Model.BacklogDate)</span></td></tr>
                        <tr><td class="ds_doted_line2"><div vertical-align="middle" class="square ds_doted_line3" style="background-color:#fff"><div align="center"><a href="@Url.Action("COVIDPatientListing", "Home", new { pPageNo = 1, searchfield = "", pageSize = 10, SortColumn = "", frompager = false,
                                                                                                                                      IsExternalComms = true,
                                                                                                                                      IsBreathing = false,
                                                                                                                                      IsLevelOfCare = false,
                                                                                                                                      PatientLocation = "",
                                                                                                                                      IsCurrentIPCount = false,
                                                                                                                                      IsNotUpdatedLast20HoursCount = false,
                                                                                                                                      IsNotUpdatedLast12HoursCount = false,
                                                                                                                                      IsUpdatedLast12HoursCount = false,
                                                                                                                                      NoOxygen = false,
                                                                                                                                      Oxygen = false,
                                                                                                                                      NonInvasiveVentilation = false,
                                                                                                                                      MechanicalVentilation = false,
                                                                                                                                      NotUpdatedAtAll = false,
                                                                                                                                      IsNewPositive = false,
                                                                                                                                      IsPostiveBacklog = false,
                                                                                                                                      IsPositiveBacklogPending = false,
                                                                                                                                      IsPositiveLive = false,
                                                                                                                                      IsPositiveLivePending = false,
                                                                                                                                      IsDischargeDeath = false,
                                                                                                                                      IsDischargeDeathBacklog = false,
                                                                                                                                      IsDischargeDeathBacklogPending = false,
                                                                                                                                      IsDischargeDeathLive = false,
                                                                                                                                      IsDischargeDeathLivePending = false,
                                                                                                                                      IsDeath = false,
                                                                                                                                      IsDeathBacklog = false,
                                                                                                                                      IsDeathBacklogPending = true,
                                                                                                                                      IsDeathLive = false,
                                                                                                                                      IsDeathLivePending = false,
                                                                                                                                      fromfilter = true
                                                                                                                                  })" style="font-size:55px; color:#ff2e37 !important;"><u>@Model.CPNSDeathsBacklogPending</u></a></div></td></tr>
                    </table>
                </td>
                <td width="20%">
                    <table width="100%">
                        <tr><td class="ds_doted_line4" style="" align="center"><span style="font-family:verdana;">Live Notified (Test Results <br />on or after @Model.LiveDate)</span></td></tr>
                        <tr><td class="ds_doted_line4" vertical-align="middle"><div vertical-align="middle" class="square ds_doted_line3" style="background-color:#fff"><div align="center"><a href="@Url.Action("COVIDPatientListing", "Home", new { pPageNo = 1, searchfield = "", pageSize = 10, SortColumn = "", frompager = false,
                                                                                                                                      IsExternalComms = true,
                                                                                                                                      IsBreathing = false,
                                                                                                                                      IsLevelOfCare = false,
                                                                                                                                      PatientLocation = "",
                                                                                                                                      IsCurrentIPCount = false,
                                                                                                                                      IsNotUpdatedLast20HoursCount = false,
                                                                                                                                      IsNotUpdatedLast12HoursCount = false,
                                                                                                                                      IsUpdatedLast12HoursCount = false,
                                                                                                                                      NoOxygen = false,
                                                                                                                                      Oxygen = false,
                                                                                                                                      NonInvasiveVentilation = false,
                                                                                                                                      MechanicalVentilation = false,
                                                                                                                                      NotUpdatedAtAll = false,
                                                                                                                                      IsNewPositive = false,
                                                                                                                                      IsPostiveBacklog = false,
                                                                                                                                      IsPositiveBacklogPending = false,
                                                                                                                                      IsPositiveLive = false,
                                                                                                                                      IsPositiveLivePending = false,
                                                                                                                                      IsDischargeDeath = false,
                                                                                                                                      IsDischargeDeathBacklog = false,
                                                                                                                                      IsDischargeDeathBacklogPending = false,
                                                                                                                                      IsDischargeDeathLive = false,
                                                                                                                                      IsDischargeDeathLivePending = false,
                                                                                                                                      IsDeath = false,
                                                                                                                                      IsDeathBacklog = false,
                                                                                                                                      IsDeathBacklogPending = false,
                                                                                                                                      IsDeathLive = true,
                                                                                                                                      IsDeathLivePending = false,
                                                                                                                                      fromfilter = true
                                                                                                                                  })" style="font-size:55px; color: #52d26a !important;"><u>@Model.CPNSDeathsNotified</u></a></div></td></tr>
                    </table>
                </td>
                <td width="20%">
                    <table width="100%">
                        <tr><td class="ds_doted_line5" style="" align="center"><span style="font-family:verdana;">Live Pending (Test Results <br />on or after @Model.LiveDate)</span></td></tr>
                        <tr><td vertical-align="middle"><div vertical-align="middle" class="square ds_doted_line3"  style="background-color:#fff"><div align="center"><a href="@Url.Action("COVIDPatientListing", "Home", new { pPageNo = 1, searchfield = "", pageSize = 10, SortColumn = "", frompager = false,
                                                                                                                                      IsExternalComms = true,
                                                                                                                                      IsBreathing = false,
                                                                                                                                      IsLevelOfCare = false,
                                                                                                                                      PatientLocation = "",
                                                                                                                                      IsCurrentIPCount = false,
                                                                                                                                      IsNotUpdatedLast20HoursCount = false,
                                                                                                                                      IsNotUpdatedLast12HoursCount = false,
                                                                                                                                      IsUpdatedLast12HoursCount = false,
                                                                                                                                      NoOxygen = false,
                                                                                                                                      Oxygen = false,
                                                                                                                                      NonInvasiveVentilation = false,
                                                                                                                                      MechanicalVentilation = false,
                                                                                                                                      NotUpdatedAtAll = false,
                                                                                                                                      IsNewPositive = false,
                                                                                                                                      IsPostiveBacklog = false,
                                                                                                                                      IsPositiveBacklogPending = false,
                                                                                                                                      IsPositiveLive = false,
                                                                                                                                      IsPositiveLivePending = false,
                                                                                                                                      IsDischargeDeath = false,
                                                                                                                                      IsDischargeDeathBacklog = false,
                                                                                                                                      IsDischargeDeathBacklogPending = false,
                                                                                                                                      IsDischargeDeathLive = false,
                                                                                                                                      IsDischargeDeathLivePending = false,
                                                                                                                                      IsDeath = false,
                                                                                                                                      IsDeathBacklog = false,
                                                                                                                                      IsDeathBacklogPending = false,
                                                                                                                                      IsDeathLive = false,
                                                                                                                                      IsDeathLivePending = true,
                                                                                                                                      fromfilter = true
                                                                                                                                  })" style="font-size:55px; color:#fec600 !important;"><u>@Model.CPNSDeathsNotifiedPending</u></a></div></td></tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>
    <br /><br/>