@model NHS.Common.DTO.BreathingSupportReport

<div class="">
    <table class="stripe row-border order-column ds_table" style="overflow:auto; width:90%" id="tblPatientDetails">
        <thead style="font-weight: bold;">
            <tr bgcolor="#0072c6" style="color:black;  font-size:11px;border-top: 1px solid #ddd;
        border-right: 1px solid #ddd !important;">
                <th align="center" width="10%" style="cursor: pointer; font-size:14px" onclick="GetPage(1,'',0,'PatientLastLocation')">Current Location</th>
                <th align="center" width="10%" style="cursor: default; font-size:14px">Total Current IP</th>
                <th align="center" width="10%" style="cursor: default; font-size:14px">Not Updated in 20 hours</th>
                <th align="center" width="10%" style="cursor: default; font-size:14px">Not Updated in 12 hours</th>
                <th align="center" width="10%" style="cursor: default; font-size:14px">Updated in 12 hours</th>
                <th align="center" width="10%" style="cursor: default; font-size:14px">No Oxygen</th>
                <th align="center" width="10%" style="cursor: default; font-size:14px">Oxygen</th>
                <th align="center" width="10%" style="cursor: default; font-size:14px">Non Invasive Ventilation</th>
                <th align="center" width="10%" style="cursor: default; font-size:14px">Mechanical Ventilation</th>
                <th align="center" width="10%" style="cursor: default; font-size:14px">Unknown</th>
            </tr>
        </thead>
        <tbody style="font-size:11px;padding:0px;" class="ds_table">
            @if (Model.BreathingTracker.Count > 0)
            {
                foreach (var item in Model.BreathingTracker)
                {
                    <tr class="Entries">
                        @if (item.LastPatientLocation == "Total")
                        {
                            <td align="right" style="color:#0072c6; font-size:16px"><b>@item.LastPatientLocation</b></td>
                            <td align="center" style="color:#0072c6; font-size:16px">
                                <a href="@Url.Action("COVIDPatientListing", "Home", new { pPageNo = 1, searchfield = "", pageSize = 10, SortColumn = "", frompager = false,
                                                                                                                                  IsExternalComms = false,
                                                                                                                                  IsBreathing = true,
                                                                                                                                  IsLevelOfCare = false,
                                                                                                                                  PatientLocation = item.LastPatientLocation,
                                                                                                                                  IsCurrentIPCount = true,
                                                                                                                                  IsNotUpdatedLast20HoursCount = false,
                                                                                                                                  IsNotUpdatedLast12HoursCount = false,
                                                                                                                                  IsUpdatedLast12HoursCount = false,
                                                                                                                                  NoOxygen = false,
                                                                                                                                  Oxygen = false,
                                                                                                                                  NonInvasiveVentilation = false,
                                                                                                                                  MechanicalVentilation = false,
                                                                                                                                  NotUpdatedAtAll = false,
                                                                                                                                  IsNewPositive = false,
                                                                                                                                  IsPostiveBacklog = false,
                                                                                                                                  IsPositiveBacklogPending = false,
                                                                                                                                  IsPositiveLive = false,
                                                                                                                                  IsPositiveLivePending = false,
                                                                                                                                  IsDischargeDeath = false,
                                                                                                                                  IsDischargeDeathBacklog = false,
                                                                                                                                  IsDischargeDeathBacklogPending = false,
                                                                                                                                  IsDischargeDeathLive = false,
                                                                                                                                  IsDischargeDeathLivePending = false,
                                                                                                                                  IsDeath = false,
                                                                                                                                  IsDeathBacklog = false,
                                                                                                                                  IsDeathBacklogPending = false,
                                                                                                                                  IsDeathLive = false,
                                                                                                                                  IsDeathLivePending = false,
                                                                                                                                  fromfilter = true
                                                                                                                              })" style="font-size:16px; color:#0072c6 !important;"><b><u>@item.CurrentIPCount</u></b></a>
                                                                                                                        </td>
                                                                                                                            <td align="center" style="color:#000">
                                                                                                                                <a href="@Url.Action("COVIDPatientListing", "Home", new { pPageNo = 1, searchfield = "", pageSize = 10, SortColumn = "", frompager = false,
                                                                                                                                  IsExternalComms = false,
                                                                                                                                  IsBreathing = true,
                                                                                                                                  IsLevelOfCare = false,
                                                                                                                                  PatientLocation = item.LastPatientLocation,
                                                                                                                                  IsCurrentIPCount = false,
                                                                                                                                  IsNotUpdatedLast20HoursCount = true,
                                                                                                                                  IsNotUpdatedLast12HoursCount = false,
                                                                                                                                  IsUpdatedLast12HoursCount = false,
                                                                                                                                  NoOxygen = false,
                                                                                                                                  Oxygen = false,
                                                                                                                                  NonInvasiveVentilation = false,
                                                                                                                                  MechanicalVentilation = false,
                                                                                                                                  NotUpdatedAtAll = false,
                                                                                                                                  IsNewPositive = false,
                                                                                                                                  IsPostiveBacklog = false,
                                                                                                                                  IsPositiveBacklogPending = false,
                                                                                                                                  IsPositiveLive = false,
                                                                                                                                  IsPositiveLivePending = false,
                                                                                                                                  IsDischargeDeath = false,
                                                                                                                                  IsDischargeDeathBacklog = false,
                                                                                                                                  IsDischargeDeathBacklogPending = false,
                                                                                                                                  IsDischargeDeathLive = false,
                                                                                                                                  IsDischargeDeathLivePending = false,
                                                                                                                                  IsDeath = false,
                                                                                                                                  IsDeathBacklog = false,
                                                                                                                                  IsDeathBacklogPending = false,
                                                                                                                                  IsDeathLive = false,
                                                                                                                                  IsDeathLivePending = false,
                                                                                                                                  fromfilter = true
                                                                                                                              })" style="font-size:16px; color:#0072c6 !important;"><b><u>@item.NotUpdatedLast20HoursCount</u></b></a>
                                                                                                                        </td>
                                                                                                                            <td align="center" style="color:#000">
                                                                                                                                <a href="@Url.Action("COVIDPatientListing", "Home", new { pPageNo = 1, searchfield = "", pageSize = 10, SortColumn = "", frompager = false,
                                                                                                                                  IsExternalComms = false,
                                                                                                                                  IsBreathing = true,
                                                                                                                                  IsLevelOfCare = false,
                                                                                                                                  PatientLocation = item.LastPatientLocation,
                                                                                                                                  IsCurrentIPCount = false,
                                                                                                                                  IsNotUpdatedLast20HoursCount = false,
                                                                                                                                  IsNotUpdatedLast12HoursCount = true,
                                                                                                                                  IsUpdatedLast12HoursCount = false,
                                                                                                                                  NoOxygen = false,
                                                                                                                                  Oxygen = false,
                                                                                                                                  NonInvasiveVentilation = false,
                                                                                                                                  MechanicalVentilation = false,
                                                                                                                                  NotUpdatedAtAll = false,
                                                                                                                                  IsNewPositive = false,
                                                                                                                                  IsPostiveBacklog = false,
                                                                                                                                  IsPositiveBacklogPending = false,
                                                                                                                                  IsPositiveLive = false,
                                                                                                                                  IsPositiveLivePending = false,
                                                                                                                                  IsDischargeDeath = false,
                                                                                                                                  IsDischargeDeathBacklog = false,
                                                                                                                                  IsDischargeDeathBacklogPending = false,
                                                                                                                                  IsDischargeDeathLive = false,
                                                                                                                                  IsDischargeDeathLivePending = false,
                                                                                                                                  IsDeath = false,
                                                                                                                                  IsDeathBacklog = false,
                                                                                                                                  IsDeathBacklogPending = false,
                                                                                                                                  IsDeathLive = false,
                                                                                                                                  IsDeathLivePending = false,
                                                                                                                                  fromfilter = true
                                                                                                                              })" style="font-size:16px; color:#0072c6 !important;"><b><u>@item.NotUpdatedLast12HoursCount</u></b></a>
                                                                                                                        </td>
                                                                                                                            <td align="center" style="color:#000">
                                                                                                                                <a href="@Url.Action("COVIDPatientListing", "Home", new { pPageNo = 1, searchfield = "", pageSize = 10, SortColumn = "", frompager = false,
                                                                                                                                  IsExternalComms = false,
                                                                                                                                  IsBreathing = true,
                                                                                                                                  IsLevelOfCare = false,
                                                                                                                                  PatientLocation = item.LastPatientLocation,
                                                                                                                                  IsCurrentIPCount = false,
                                                                                                                                  IsNotUpdatedLast20HoursCount = false,
                                                                                                                                  IsNotUpdatedLast12HoursCount = false,
                                                                                                                                  IsUpdatedLast12HoursCount = true,
                                                                                                                                  NoOxygen = false,
                                                                                                                                  Oxygen = false,
                                                                                                                                  NonInvasiveVentilation = false,
                                                                                                                                  MechanicalVentilation = false,
                                                                                                                                  NotUpdatedAtAll = false,
                                                                                                                                  IsNewPositive = false,
                                                                                                                                  IsPostiveBacklog = false,
                                                                                                                                  IsPositiveBacklogPending = false,
                                                                                                                                  IsPositiveLive = false,
                                                                                                                                  IsPositiveLivePending = false,
                                                                                                                                  IsDischargeDeath = false,
                                                                                                                                  IsDischargeDeathBacklog = false,
                                                                                                                                  IsDischargeDeathBacklogPending = false,
                                                                                                                                  IsDischargeDeathLive = false,
                                                                                                                                  IsDischargeDeathLivePending = false,
                                                                                                                                  IsDeath = false,
                                                                                                                                  IsDeathBacklog = false,
                                                                                                                                  IsDeathBacklogPending = false,
                                                                                                                                  IsDeathLive = false,
                                                                                                                                  IsDeathLivePending = false,
                                                                                                                                  fromfilter = true
                                                                                                                              })" style="font-size:16px; color:#0072c6 !important;"><b><u>@item.UpdatedLast12HoursCount</u></b></a>
                                                                                                                        </td>
                                                                                                                        <td align="center" style="color:#000">
                                                                                                                            <a href="@Url.Action("COVIDPatientListing", "Home", new { pPageNo = 1, searchfield = "", pageSize = 10, SortColumn = "", frompager = false,
                                                                                                                                  IsExternalComms = false,
                                                                                                                                  IsBreathing = true,
                                                                                                                                  IsLevelOfCare = false,
                                                                                                                                  PatientLocation = item.LastPatientLocation,
                                                                                                                                  IsCurrentIPCount = false,
                                                                                                                                  IsNotUpdatedLast20HoursCount = false,
                                                                                                                                  IsNotUpdatedLast12HoursCount = false,
                                                                                                                                  IsUpdatedLast12HoursCount = false,
                                                                                                                                  NoOxygen = true,
                                                                                                                                  Oxygen = false,
                                                                                                                                  NonInvasiveVentilation = false,
                                                                                                                                  MechanicalVentilation = false,
                                                                                                                                  NotUpdatedAtAll = false,
                                                                                                                                  IsNewPositive = false,
                                                                                                                                  IsPostiveBacklog = false,
                                                                                                                                  IsPositiveBacklogPending = false,
                                                                                                                                  IsPositiveLive = false,
                                                                                                                                  IsPositiveLivePending = false,
                                                                                                                                  IsDischargeDeath = false,
                                                                                                                                  IsDischargeDeathBacklog = false,
                                                                                                                                  IsDischargeDeathBacklogPending = false,
                                                                                                                                  IsDischargeDeathLive = false,
                                                                                                                                  IsDischargeDeathLivePending = false,
                                                                                                                                  IsDeath = false,
                                                                                                                                  IsDeathBacklog = false,
                                                                                                                                  IsDeathBacklogPending = false,
                                                                                                                                  IsDeathLive = false,
                                                                                                                                  IsDeathLivePending = false,
                                                                                                                                  fromfilter = true
                                                                                                                              })" style="font-size:16px; color:#0072c6 !important;"><b><u>@item.NoOxygen</u></b></a>
                                                                                                                        </td>
                                                                                                                        <td align="center" style="color:#000">
                                                                                                                            <a href="@Url.Action("COVIDPatientListing", "Home", new { pPageNo = 1, searchfield = "", pageSize = 10, SortColumn = "", frompager = false,
                                                                                                                                  IsExternalComms = false,
                                                                                                                                  IsBreathing = true,
                                                                                                                                  IsLevelOfCare = false,
                                                                                                                                  PatientLocation = item.LastPatientLocation,
                                                                                                                                  IsCurrentIPCount = false,
                                                                                                                                  IsNotUpdatedLast20HoursCount = false,
                                                                                                                                  IsNotUpdatedLast12HoursCount = false,
                                                                                                                                  IsUpdatedLast12HoursCount = false,
                                                                                                                                  NoOxygen = false,
                                                                                                                                  Oxygen = true,
                                                                                                                                  NonInvasiveVentilation = false,
                                                                                                                                  MechanicalVentilation = false,
                                                                                                                                  NotUpdatedAtAll = false,
                                                                                                                                  IsNewPositive = false,
                                                                                                                                  IsPostiveBacklog = false,
                                                                                                                                  IsPositiveBacklogPending = false,
                                                                                                                                  IsPositiveLive = false,
                                                                                                                                  IsPositiveLivePending = false,
                                                                                                                                  IsDischargeDeath = false,
                                                                                                                                  IsDischargeDeathBacklog = false,
                                                                                                                                  IsDischargeDeathBacklogPending = false,
                                                                                                                                  IsDischargeDeathLive = false,
                                                                                                                                  IsDischargeDeathLivePending = false,
                                                                                                                                  IsDeath = false,
                                                                                                                                  IsDeathBacklog = false,
                                                                                                                                  IsDeathBacklogPending = false,
                                                                                                                                  IsDeathLive = false,
                                                                                                                                  IsDeathLivePending = false,
                                                                                                                                  fromfilter = true
                                                                                                                              })" style="font-size:16px; color:#0072c6 !important;"><b><u>@item.Oxygen</u></b></a>
                                                                                                                        </td>
                                                                                                                        <td align="center" style="color:#000">
                                                                                                                            <a href="@Url.Action("COVIDPatientListing", "Home", new { pPageNo = 1, searchfield = "", pageSize = 10, SortColumn = "", frompager = false,
                                                                                                                                  IsExternalComms = false,
                                                                                                                                  IsBreathing = true,
                                                                                                                                  IsLevelOfCare = false,
                                                                                                                                  PatientLocation = item.LastPatientLocation,
                                                                                                                                  IsCurrentIPCount = false,
                                                                                                                                  IsNotUpdatedLast20HoursCount = false,
                                                                                                                                  IsNotUpdatedLast12HoursCount = false,
                                                                                                                                  IsUpdatedLast12HoursCount = false,
                                                                                                                                  NoOxygen = false,
                                                                                                                                  Oxygen = false,
                                                                                                                                  NonInvasiveVentilation = true,
                                                                                                                                  MechanicalVentilation = false,
                                                                                                                                  NotUpdatedAtAll = false,
                                                                                                                                  IsNewPositive = false,
                                                                                                                                  IsPostiveBacklog = false,
                                                                                                                                  IsPositiveBacklogPending = false,
                                                                                                                                  IsPositiveLive = false,
                                                                                                                                  IsPositiveLivePending = false,
                                                                                                                                  IsDischargeDeath = false,
                                                                                                                                  IsDischargeDeathBacklog = false,
                                                                                                                                  IsDischargeDeathBacklogPending = false,
                                                                                                                                  IsDischargeDeathLive = false,
                                                                                                                                  IsDischargeDeathLivePending = false,
                                                                                                                                  IsDeath = false,
                                                                                                                                  IsDeathBacklog = false,
                                                                                                                                  IsDeathBacklogPending = false,
                                                                                                                                  IsDeathLive = false,
                                                                                                                                  IsDeathLivePending = false,
                                                                                                                                  fromfilter = true
                                                                                                                              })" style="font-size:16px; color:#0072c6 !important;"><b><u>@item.NonInvasiveVentilation</u></b></a>
                                                                                                                        </td>
                                                                                                                        <td align="center" style="color:#000">
                                                                                                                            <a href="@Url.Action("COVIDPatientListing", "Home", new { pPageNo = 1, searchfield = "", pageSize = 10, SortColumn = "", frompager = false,
                                                                                                                                  IsExternalComms = false,
                                                                                                                                  IsBreathing = true,
                                                                                                                                  IsLevelOfCare = false,
                                                                                                                                  PatientLocation = item.LastPatientLocation,
                                                                                                                                  IsCurrentIPCount = false,
                                                                                                                                  IsNotUpdatedLast20HoursCount = false,
                                                                                                                                  IsNotUpdatedLast12HoursCount = false,
                                                                                                                                  IsUpdatedLast12HoursCount = false,
                                                                                                                                  NoOxygen = false,
                                                                                                                                  Oxygen = false,
                                                                                                                                  NonInvasiveVentilation = false,
                                                                                                                                  MechanicalVentilation = true,
                                                                                                                                  NotUpdatedAtAll = false,
                                                                                                                                  IsNewPositive = false,
                                                                                                                                  IsPostiveBacklog = false,
                                                                                                                                  IsPositiveBacklogPending = false,
                                                                                                                                  IsPositiveLive = false,
                                                                                                                                  IsPositiveLivePending = false,
                                                                                                                                  IsDischargeDeath = false,
                                                                                                                                  IsDischargeDeathBacklog = false,
                                                                                                                                  IsDischargeDeathBacklogPending = false,
                                                                                                                                  IsDischargeDeathLive = false,
                                                                                                                                  IsDischargeDeathLivePending = false,
                                                                                                                                  IsDeath = false,
                                                                                                                                  IsDeathBacklog = false,
                                                                                                                                  IsDeathBacklogPending = false,
                                                                                                                                  IsDeathLive = false,
                                                                                                                                  IsDeathLivePending = false,
                                                                                                                                  fromfilter = true
                                                                                                                              })" style="font-size:16px; color:#0072c6 !important;"><b><u>@item.MechanicalVentilation</u></b></a>
                                                                                                                        </td>
                                                                                                                        <td align="center" style="color:#000">
                                                                                                                            <a href="@Url.Action("COVIDPatientListing", "Home", new { pPageNo = 1, searchfield = "", pageSize = 10, SortColumn = "", frompager = false,
                                                                                                                                  IsExternalComms = false,
                                                                                                                                  IsBreathing = true,
                                                                                                                                  IsLevelOfCare = false,
                                                                                                                                  PatientLocation = item.LastPatientLocation,
                                                                                                                                  IsCurrentIPCount = false,
                                                                                                                                  IsNotUpdatedLast20HoursCount = false,
                                                                                                                                  IsNotUpdatedLast12HoursCount = false,
                                                                                                                                  IsUpdatedLast12HoursCount = false,
                                                                                                                                  NoOxygen = false,
                                                                                                                                  Oxygen = false,
                                                                                                                                  NonInvasiveVentilation = false,
                                                                                                                                  MechanicalVentilation = false,
                                                                                                                                  NotUpdatedAtAll = true,
                                                                                                                                  IsNewPositive = false,
                                                                                                                                  IsPostiveBacklog = false,
                                                                                                                                  IsPositiveBacklogPending = false,
                                                                                                                                  IsPositiveLive = false,
                                                                                                                                  IsPositiveLivePending = false,
                                                                                                                                  IsDischargeDeath = false,
                                                                                                                                  IsDischargeDeathBacklog = false,
                                                                                                                                  IsDischargeDeathBacklogPending = false,
                                                                                                                                  IsDischargeDeathLive = false,
                                                                                                                                  IsDischargeDeathLivePending = false,
                                                                                                                                  IsDeath = false,
                                                                                                                                  IsDeathBacklog = false,
                                                                                                                                  IsDeathBacklogPending = false,
                                                                                                                                  IsDeathLive = false,
                                                                                                                                  IsDeathLivePending = false,
                                                                                                                                  fromfilter = true
                                                                                                                              })" style="font-size:16px; color:#0072c6 !important;"><b><u>@item.NotUpdatedAtAll</u></b></a>
                                                                                                                        </td>
                        }
                        else
                        {
                            <td align="left" style="color:#000; font-size:14px">@item.LastPatientLocation</td>
                            <td align="center" style="color:#0072c6; font-size:14px">
                                <a href="@Url.Action("COVIDPatientListing", "Home", new { pPageNo = 1, searchfield = "", pageSize = 10, SortColumn = "", frompager = false,
                                                                                                                                  IsExternalComms = false,
                                                                                                                                  IsBreathing = true,
                                                                                                                                  IsLevelOfCare = false,
                                                                                                                                  PatientLocation = item.LastPatientLocation,
                                                                                                                                  IsCurrentIPCount = true,
                                                                                                                                  IsNotUpdatedLast20HoursCount = false,
                                                                                                                                  IsNotUpdatedLast12HoursCount = false,
                                                                                                                                  IsUpdatedLast12HoursCount = false,
                                                                                                                                  NoOxygen = false,
                                                                                                                                  Oxygen = false,
                                                                                                                                  NonInvasiveVentilation = false,
                                                                                                                                  MechanicalVentilation = false,
                                                                                                                                  NotUpdatedAtAll = false,
                                                                                                                                  IsNewPositive = false,
                                                                                                                                  IsPostiveBacklog = false,
                                                                                                                                  IsPositiveBacklogPending = false,
                                                                                                                                  IsPositiveLive = false,
                                                                                                                                  IsPositiveLivePending = false,
                                                                                                                                  IsDischargeDeath = false,
                                                                                                                                  IsDischargeDeathBacklog = false,
                                                                                                                                  IsDischargeDeathBacklogPending = false,
                                                                                                                                  IsDischargeDeathLive = false,
                                                                                                                                  IsDischargeDeathLivePending = false,
                                                                                                                                  IsDeath = false,
                                                                                                                                  IsDeathBacklog = false,
                                                                                                                                  IsDeathBacklogPending = false,
                                                                                                                                  IsDeathLive = false,
                                                                                                                                  IsDeathLivePending = false,
                                                                                                                                  fromfilter = true
                                                                                                                              })" style="font-size:14px; color:#0072c6 !important;"><u>@item.CurrentIPCount</u></a>
                                                                                                                        </td>
                                                                                                                            <td align="center" style="color:#ff2e37">
                                                                                                                                <a href="@Url.Action("COVIDPatientListing", "Home", new { pPageNo = 1, searchfield = "", pageSize = 10, SortColumn = "", frompager = false,
                                                                                                                                  IsExternalComms = false,
                                                                                                                                  IsBreathing = true,
                                                                                                                                  IsLevelOfCare = false,
                                                                                                                                  PatientLocation = item.LastPatientLocation,
                                                                                                                                  IsCurrentIPCount = false,
                                                                                                                                  IsNotUpdatedLast20HoursCount = true,
                                                                                                                                  IsNotUpdatedLast12HoursCount = false,
                                                                                                                                  IsUpdatedLast12HoursCount = false,
                                                                                                                                  NoOxygen = false,
                                                                                                                                  Oxygen = false,
                                                                                                                                  NonInvasiveVentilation = false,
                                                                                                                                  MechanicalVentilation = false,
                                                                                                                                  NotUpdatedAtAll = false,
                                                                                                                                  IsNewPositive = false,
                                                                                                                                  IsPostiveBacklog = false,
                                                                                                                                  IsPositiveBacklogPending = false,
                                                                                                                                  IsPositiveLive = false,
                                                                                                                                  IsPositiveLivePending = false,
                                                                                                                                  IsDischargeDeath = false,
                                                                                                                                  IsDischargeDeathBacklog = false,
                                                                                                                                  IsDischargeDeathBacklogPending = false,
                                                                                                                                  IsDischargeDeathLive = false,
                                                                                                                                  IsDischargeDeathLivePending = false,
                                                                                                                                  IsDeath = false,
                                                                                                                                  IsDeathBacklog = false,
                                                                                                                                  IsDeathBacklogPending = false,
                                                                                                                                  IsDeathLive = false,
                                                                                                                                  IsDeathLivePending = false,
                                                                                                                                  fromfilter = true
                                                                                                                              })" style="font-size:14px; color:#ff2e37 !important;"><u>@item.NotUpdatedLast20HoursCount</u></a>
                                                                                                                        </td>
                                                                                                                            <td align="center" style="color:#fec600">
                                                                                                                                <a href="@Url.Action("COVIDPatientListing", "Home", new { pPageNo = 1, searchfield = "", pageSize = 10, SortColumn = "", frompager = false,
                                                                                                                                  IsExternalComms = false,
                                                                                                                                  IsBreathing = true,
                                                                                                                                  IsLevelOfCare = false,
                                                                                                                                  PatientLocation = item.LastPatientLocation,
                                                                                                                                  IsCurrentIPCount = false,
                                                                                                                                  IsNotUpdatedLast20HoursCount = false,
                                                                                                                                  IsNotUpdatedLast12HoursCount = true,
                                                                                                                                  IsUpdatedLast12HoursCount = false,
                                                                                                                                  NoOxygen = false,
                                                                                                                                  Oxygen = false,
                                                                                                                                  NonInvasiveVentilation = false,
                                                                                                                                  MechanicalVentilation = false,
                                                                                                                                  NotUpdatedAtAll = false,
                                                                                                                                  IsNewPositive = false,
                                                                                                                                  IsPostiveBacklog = false,
                                                                                                                                  IsPositiveBacklogPending = false,
                                                                                                                                  IsPositiveLive = false,
                                                                                                                                  IsPositiveLivePending = false,
                                                                                                                                  IsDischargeDeath = false,
                                                                                                                                  IsDischargeDeathBacklog = false,
                                                                                                                                  IsDischargeDeathBacklogPending = false,
                                                                                                                                  IsDischargeDeathLive = false,
                                                                                                                                  IsDischargeDeathLivePending = false,
                                                                                                                                  IsDeath = false,
                                                                                                                                  IsDeathBacklog = false,
                                                                                                                                  IsDeathBacklogPending = false,
                                                                                                                                  IsDeathLive = false,
                                                                                                                                  IsDeathLivePending = false,
                                                                                                                                  fromfilter = true
                                                                                                                              })" style="font-size:14px; color:#fec600 !important;"><u>@item.NotUpdatedLast12HoursCount</u></a>
                                                                                                                        </td>
                                                                                                                            <td align="center" style="color:#52d26a">
                                                                                                                                <a href="@Url.Action("COVIDPatientListing", "Home", new { pPageNo = 1, searchfield = "", pageSize = 10, SortColumn = "", frompager = false,
                                                                                                                                  IsExternalComms = false,
                                                                                                                                  IsBreathing = true,
                                                                                                                                  IsLevelOfCare = false,
                                                                                                                                  PatientLocation = item.LastPatientLocation,
                                                                                                                                  IsCurrentIPCount = false,
                                                                                                                                  IsNotUpdatedLast20HoursCount = false,
                                                                                                                                  IsNotUpdatedLast12HoursCount = false,
                                                                                                                                  IsUpdatedLast12HoursCount = true,
                                                                                                                                  NoOxygen = false,
                                                                                                                                  Oxygen = false,
                                                                                                                                  NonInvasiveVentilation = false,
                                                                                                                                  MechanicalVentilation = false,
                                                                                                                                  NotUpdatedAtAll = false,
                                                                                                                                  IsNewPositive = false,
                                                                                                                                  IsPostiveBacklog = false,
                                                                                                                                  IsPositiveBacklogPending = false,
                                                                                                                                  IsPositiveLive = false,
                                                                                                                                  IsPositiveLivePending = false,
                                                                                                                                  IsDischargeDeath = false,
                                                                                                                                  IsDischargeDeathBacklog = false,
                                                                                                                                  IsDischargeDeathBacklogPending = false,
                                                                                                                                  IsDischargeDeathLive = false,
                                                                                                                                  IsDischargeDeathLivePending = false,
                                                                                                                                  IsDeath = false,
                                                                                                                                  IsDeathBacklog = false,
                                                                                                                                  IsDeathBacklogPending = false,
                                                                                                                                  IsDeathLive = false,
                                                                                                                                  IsDeathLivePending = false,
                                                                                                                                  fromfilter = true
                                                                                                                              })" style="font-size:14px; color:#52d26a !important;"><u>@item.UpdatedLast12HoursCount</u></a>
                                                                                                                        </td>
                                                                                                                        <td align="center" style="color:#000">
                                                                                                                            <a href="@Url.Action("COVIDPatientListing", "Home", new { pPageNo = 1, searchfield = "", pageSize = 10, SortColumn = "", frompager = false,
                                                                                                                                  IsExternalComms = false,
                                                                                                                                  IsBreathing = true,
                                                                                                                                  IsLevelOfCare = false,
                                                                                                                                  PatientLocation = item.LastPatientLocation,
                                                                                                                                  IsCurrentIPCount = false,
                                                                                                                                  IsNotUpdatedLast20HoursCount = false,
                                                                                                                                  IsNotUpdatedLast12HoursCount = false,
                                                                                                                                  IsUpdatedLast12HoursCount = false,
                                                                                                                                  NoOxygen = true,
                                                                                                                                  Oxygen = false,
                                                                                                                                  NonInvasiveVentilation = false,
                                                                                                                                  MechanicalVentilation = false,
                                                                                                                                  NotUpdatedAtAll = false,
                                                                                                                                  IsNewPositive = false,
                                                                                                                                  IsPostiveBacklog = false,
                                                                                                                                  IsPositiveBacklogPending = false,
                                                                                                                                  IsPositiveLive = false,
                                                                                                                                  IsPositiveLivePending = false,
                                                                                                                                  IsDischargeDeath = false,
                                                                                                                                  IsDischargeDeathBacklog = false,
                                                                                                                                  IsDischargeDeathBacklogPending = false,
                                                                                                                                  IsDischargeDeathLive = false,
                                                                                                                                  IsDischargeDeathLivePending = false,
                                                                                                                                  IsDeath = false,
                                                                                                                                  IsDeathBacklog = false,
                                                                                                                                  IsDeathBacklogPending = false,
                                                                                                                                  IsDeathLive = false,
                                                                                                                                  IsDeathLivePending = false,
                                                                                                                                  fromfilter = true
                                                                                                                              })" style="font-size:14px; color:#000 !important;"><b><u>@item.NoOxygen</u></b></a>
                                                                                                                        </td>
                                                                                                                        <td align="center" style="color:#000">
                                                                                                                            <a href="@Url.Action("COVIDPatientListing", "Home", new { pPageNo = 1, searchfield = "", pageSize = 10, SortColumn = "", frompager = false,
                                                                                                                                  IsExternalComms = false,
                                                                                                                                  IsBreathing = true,
                                                                                                                                  IsLevelOfCare = false,
                                                                                                                                  PatientLocation = item.LastPatientLocation,
                                                                                                                                  IsCurrentIPCount = false,
                                                                                                                                  IsNotUpdatedLast20HoursCount = false,
                                                                                                                                  IsNotUpdatedLast12HoursCount = false,
                                                                                                                                  IsUpdatedLast12HoursCount = false,
                                                                                                                                  NoOxygen = false,
                                                                                                                                  Oxygen = true,
                                                                                                                                  NonInvasiveVentilation = false,
                                                                                                                                  MechanicalVentilation = false,
                                                                                                                                  NotUpdatedAtAll = false,
                                                                                                                                  IsNewPositive = false,
                                                                                                                                  IsPostiveBacklog = false,
                                                                                                                                  IsPositiveBacklogPending = false,
                                                                                                                                  IsPositiveLive = false,
                                                                                                                                  IsPositiveLivePending = false,
                                                                                                                                  IsDischargeDeath = false,
                                                                                                                                  IsDischargeDeathBacklog = false,
                                                                                                                                  IsDischargeDeathBacklogPending = false,
                                                                                                                                  IsDischargeDeathLive = false,
                                                                                                                                  IsDischargeDeathLivePending = false,
                                                                                                                                  IsDeath = false,
                                                                                                                                  IsDeathBacklog = false,
                                                                                                                                  IsDeathBacklogPending = false,
                                                                                                                                  IsDeathLive = false,
                                                                                                                                  IsDeathLivePending = false,
                                                                                                                                  fromfilter = true
                                                                                                                              })" style="font-size:14px; color:#000 !important;"><b><u>@item.Oxygen</u></b></a>
                                                                                                                        </td>
                                                                                                                        <td align="center" style="color:#000">
                                                                                                                            <a href="@Url.Action("COVIDPatientListing", "Home", new { pPageNo = 1, searchfield = "", pageSize = 10, SortColumn = "", frompager = false,
                                                                                                                                  IsExternalComms = false,
                                                                                                                                  IsBreathing = true,
                                                                                                                                  IsLevelOfCare = false,
                                                                                                                                  PatientLocation = item.LastPatientLocation,
                                                                                                                                  IsCurrentIPCount = false,
                                                                                                                                  IsNotUpdatedLast20HoursCount = false,
                                                                                                                                  IsNotUpdatedLast12HoursCount = false,
                                                                                                                                  IsUpdatedLast12HoursCount = false,
                                                                                                                                  NoOxygen = false,
                                                                                                                                  Oxygen = false,
                                                                                                                                  NonInvasiveVentilation = true,
                                                                                                                                  MechanicalVentilation = false,
                                                                                                                                  NotUpdatedAtAll = false,
                                                                                                                                  IsNewPositive = false,
                                                                                                                                  IsPostiveBacklog = false,
                                                                                                                                  IsPositiveBacklogPending = false,
                                                                                                                                  IsPositiveLive = false,
                                                                                                                                  IsPositiveLivePending = false,
                                                                                                                                  IsDischargeDeath = false,
                                                                                                                                  IsDischargeDeathBacklog = false,
                                                                                                                                  IsDischargeDeathBacklogPending = false,
                                                                                                                                  IsDischargeDeathLive = false,
                                                                                                                                  IsDischargeDeathLivePending = false,
                                                                                                                                  IsDeath = false,
                                                                                                                                  IsDeathBacklog = false,
                                                                                                                                  IsDeathBacklogPending = false,
                                                                                                                                  IsDeathLive = false,
                                                                                                                                  IsDeathLivePending = false,
                                                                                                                                  fromfilter = true
                                                                                                                              })" style="font-size:14px; color:#000 !important;"><b><u>@item.NonInvasiveVentilation</u></b></a>
                                                                                                                        </td>
                                                                                                                        <td align="center" style="color:#000">
                                                                                                                            <a href="@Url.Action("COVIDPatientListing", "Home", new { pPageNo = 1, searchfield = "", pageSize = 10, SortColumn = "", frompager = false,
                                                                                                                                  IsExternalComms = false,
                                                                                                                                  IsBreathing = true,
                                                                                                                                  IsLevelOfCare = false,
                                                                                                                                  PatientLocation = item.LastPatientLocation,
                                                                                                                                  IsCurrentIPCount = false,
                                                                                                                                  IsNotUpdatedLast20HoursCount = false,
                                                                                                                                  IsNotUpdatedLast12HoursCount = false,
                                                                                                                                  IsUpdatedLast12HoursCount = false,
                                                                                                                                  NoOxygen = false,
                                                                                                                                  Oxygen = false,
                                                                                                                                  NonInvasiveVentilation = false,
                                                                                                                                  MechanicalVentilation = true,
                                                                                                                                  NotUpdatedAtAll = false,
                                                                                                                                  IsNewPositive = false,
                                                                                                                                  IsPostiveBacklog = false,
                                                                                                                                  IsPositiveBacklogPending = false,
                                                                                                                                  IsPositiveLive = false,
                                                                                                                                  IsPositiveLivePending = false,
                                                                                                                                  IsDischargeDeath = false,
                                                                                                                                  IsDischargeDeathBacklog = false,
                                                                                                                                  IsDischargeDeathBacklogPending = false,
                                                                                                                                  IsDischargeDeathLive = false,
                                                                                                                                  IsDischargeDeathLivePending = false,
                                                                                                                                  IsDeath = false,
                                                                                                                                  IsDeathBacklog = false,
                                                                                                                                  IsDeathBacklogPending = false,
                                                                                                                                  IsDeathLive = false,
                                                                                                                                  IsDeathLivePending = false,
                                                                                                                                  fromfilter = true
                                                                                                                              })" style="font-size:14px; color:#000 !important;"><b><u>@item.MechanicalVentilation</u></b></a>
                                                                                                                        </td>
                                                                                                                        <td align="center" style="color:#000">
                                                                                                                            <a href="@Url.Action("COVIDPatientListing", "Home", new { pPageNo = 1, searchfield = "", pageSize = 10, SortColumn = "", frompager = false,
                                                                                                                                  IsExternalComms = false,
                                                                                                                                  IsBreathing = true,
                                                                                                                                  IsLevelOfCare = false,
                                                                                                                                  PatientLocation = item.LastPatientLocation,
                                                                                                                                  IsCurrentIPCount = false,
                                                                                                                                  IsNotUpdatedLast20HoursCount = false,
                                                                                                                                  IsNotUpdatedLast12HoursCount = false,
                                                                                                                                  IsUpdatedLast12HoursCount = false,
                                                                                                                                  NoOxygen = false,
                                                                                                                                  Oxygen = false,
                                                                                                                                  NonInvasiveVentilation = false,
                                                                                                                                  MechanicalVentilation = false,
                                                                                                                                  NotUpdatedAtAll = true,
                                                                                                                                  IsNewPositive = false,
                                                                                                                                  IsPostiveBacklog = false,
                                                                                                                                  IsPositiveBacklogPending = false,
                                                                                                                                  IsPositiveLive = false,
                                                                                                                                  IsPositiveLivePending = false,
                                                                                                                                  IsDischargeDeath = false,
                                                                                                                                  IsDischargeDeathBacklog = false,
                                                                                                                                  IsDischargeDeathBacklogPending = false,
                                                                                                                                  IsDischargeDeathLive = false,
                                                                                                                                  IsDischargeDeathLivePending = false,
                                                                                                                                  IsDeath = false,
                                                                                                                                  IsDeathBacklog = false,
                                                                                                                                  IsDeathBacklogPending = false,
                                                                                                                                  IsDeathLive = false,
                                                                                                                                  IsDeathLivePending = false,
                                                                                                                                  fromfilter = true
                                                                                                                              })" style="font-size:14px; color:#ff2e37 !important;"><b><u>@item.NotUpdatedAtAll</u></b></a>
                                                                                                                        </td>
                        }                        
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="14" class="text-center" align="center">No Records Found.</td>
                </tr>
            }
        </tbody>
    </table>
</div>
@Html.Partial("_BreathingReportPagerControl")



