@model List<NHS.Common.DTO.clsCOVIDPatientList>

<div class="">
    <table class="stripe row-border order-column ds_table" style="overflow:auto;" id="tblPatientDetails">
        <thead style="font-weight: bold;">
            <tr bgcolor="#a9d7cc" style="color:black;  font-size:11px;border-top: 1px solid #ddd;
        border-right: 1px solid #ddd !important;">
                <th align="left" width="5%" style="cursor: pointer;" onclick="GetPage(1,'',0,'PatientID')">MRN</th>
                <th align="left" width="11%" style="cursor: pointer;" onclick="GetPage(1,'',0,'PatientName')">Name (Age)</th>
                @*<th align="left" width="4%" style="cursor: pointer;" onclick="GetPage(1,'',0,'Gender')">Gender</th>*@
                @*<th align="center" width="3%" style="cursor: pointer;" onclick="GetPage(1,'',0,'ComorbitiesCount')">Prev Known <br /> Comorbidities</th>*@
                <th align="center" width="5%" style="cursor: pointer;" onclick="GetPage(1,'',0,'TestResultDateTime')">Test Result<br />DateTime </th>
                <th align="left" width="4%" style="cursor: pointer;" onclick="GetPage(1,'',0,'TestResult')">Test Result</th>
                <th align="left" width="4%" style="cursor: pointer;" onclick="GetPage(1,'',0,'AdmissionStatus')">Admission <br /> Status</th>
                <th align="right" width="7%" style="cursor: pointer;" onclick="GetPage(1, '', 0, 'LastPatientLocation')">Current/<br />Last<br />Ward </th>
                @*<th align="left" width="4%" style="cursor: pointer;" onclick="GetPage(1,'',0,'LOSDays')">LOS</th>*@
                @*<th align="left" width="8%" style="cursor: pointer;" onclick="GetPage(1,'',0,'AdmissionDateTime')">Admission <br /> DateTime</th>*@
                <th align="left" width="6%" style="cursor: pointer;" onclick="GetPage(1,'',0,'BreathingStatus')">Breathing <br /> Status</th>
                <th align="left" width="6%" style="cursor: pointer;" onclick="GetPage(1,'',0,'BedType')">Bed <br /> Type</th>
                @*<th align="left" width="6%" style="cursor: pointer;" onclick="GetPage(1,'',0,'DischargeDateTime')">Discharge <br /> DateTime</th>*@
                <th align="left" width="8%" style="cursor: pointer;" onclick="GetPage(1,'',0,'DateOfDeath')">Date <br /> of <br/> Death</th>
                @*<th align="left" width="4%" style="cursor: pointer;" onclick="GetPage(1,'',0,'DischargeConsultantName')">Current/<br />Discharge<br /> Consultant</th>*@
                <th align="left" width="7%" style="cursor: pointer;" onclick="GetPage(1,'',0,'UpdatedDate')">Last<br/>Updated<br/>Date</th>
                <th align="left" width="4%" style="cursor: pointer;" onclick="GetPage(1,'',0,'UpdatedBy')">Last<br />Updated<br />By</th>
                <th align="left" width="4%" style="cursor: default;">Action</th>
            </tr>
        </thead>
        <tbody style="font-size:11px;padding:0px;" class="ds_table">
            @if (Model.Count > 0)
            {
                foreach (var item in Model)
                {
                    <tr class="Entries">
                        <td align="left" class="PID" style="cursor:pointer"><a href="#" title="Admission Date/Time: @item.AdmissionDateTime &#013;&#013;Discharge DateTime: @item.DischargeDateTime.Replace("01/01/0001","") &#013;&#013;LOS Days: @item.LOSDays &#013;&#013;CHESS Comments: @item.CHESSComments &#013;&#013;Discharge/Death Comments: @item.DischargeDeathComments &#013;&#013;CPNS Comments: @item.CPNSComments">@item.PatientID</a></td>
                        <td align="left">@item.PatientName.Trim() (@item.Age.ToString())</td>
                        @*<td align="left">&nbsp;&nbsp;@item.Gender.Trim()</td>*@
                        @*@if (item.ComorbitiesCount > 0)
                        {
                            <td align="center" style=""><img src="~/images/RedC.png" width="18" height="18" title=""></td>
                        }
                        else
                        {
                            <td align="center" style=""><img src="~/images/GeryImg.png" width="18" height="18" title=""></td>
                        }*@
                        @if (string.IsNullOrEmpty(item.TestResultDateTime))
                        {
                            <td align="left" style="">&nbsp;&nbsp;Pending</td>
                        }
                        else
                        {
                            <td align="left" style="">@Convert.ToDateTime(item.TestResultDateTime).ToString("dd/MM/yyyy HH:mm")</td>
                        }
                        @if (item.TestResult.ToUpper().Trim() == "NOT DETECTED")
                        {
                            <td align="center"><a href="@Url.Action("COVIDTestResults", "Home", new { id = item.Test_ID})"><img src="~/images/GreenCircle.png" width="18" height="18" title="Not Detected"></a></td>
                        }
                        else if (item.TestResult.ToUpper().Trim() == "DETECTED" || item.TestResult.ToUpper().Trim() == "DIAGNOSED")
                        {
                            <td align="center"><a href="@Url.Action("COVIDTestResults", "Home", new { id = item.Test_ID})"><img src="~/images/RedC.png" width="18" height="18" title="Detected"></a></td>
                        }
                        else if (item.TestResult.ToUpper().Trim() == "PENDING")
                        {
                            <td align="center"><a href="@Url.Action("COVIDTestResults", "Home", new { id = item.Test_ID})"><img src="~/images/amber.png" width="18" height="18" title="Pending"></a></td>
                        }
                        else if (item.TestResult.ToUpper().Trim() == "NOT TESTED")
                        {
                            <td align="center"><a href="@Url.Action("COVIDTestResults", "Home", new { id = item.Test_ID})"><img src="~/images/purple.png" width="18" height="18" title="Not Tested"></a></td>
                        }
                        else if (item.TestResult.ToUpper().Trim() == "UNKNOWN" || item.TestResult.ToUpper().Trim() == "SAMPLE FAIL")
                        {
                            <td align="center"><a href="@Url.Action("COVIDTestResults", "Home", new { id = item.Test_ID})"><img src="~/images/GeryImg.png" width="18" height="18" title="Not Tested"></a></td>
                        }
                        else if (item.TestResult.ToUpper().Trim() == "COLD")
                        {
                            <td align="center"><a href="@Url.Action("COVIDTestResults", "Home", new { id = item.Test_ID})"><img src="~/images/blue.jpg" width="18" height="18" title="Not Tested"></a></td>
                        }
                        @if (item.AdmissionStatus.ToUpper().IndexOf("CURRENT") > -1)
                        {
                            <td align="center" style="background-color: #fadf7f;">@item.AdmissionStatus</td>
                        }
                        else if (item.AdmissionStatus.ToUpper().IndexOf("DISCHARGE") > -1 || item.AdmissionStatus.ToUpper().IndexOf("UNKNOWN") > -1)
                        {
                            <td align="center" style="background-color: #d4ffb0;">@item.AdmissionStatus</td>
                        }
                        else if (item.AdmissionStatus.ToUpper().IndexOf("DIE") > -1)
                        {
                            <td align="center" style="background-color: #f08b8f;">@item.AdmissionStatus</td>
                        }                        
                        <td align="left">@item.LastPatientLocation</td>
                        @*<td align="center" style="">@item.LOSDays.ToString() days</td>*@
                        @*<td align="center" style="">@item.AdmissionDateTime</td>*@
                        <td align="left" style=""><a href="#" style="cursor:pointer" title="Breathing Status: @item.BreathingStatusText">@item.BreathingStatus</a> </td>
                        <td align="left" style=""><a href="#" style="cursor:pointer" title="Breathing Status: @item.BedTypeText">@item.BedType</a> </td>
                        @if (item.DateofDeath == "01/01/0001")
                        {
                            <td align="left" style="">&nbsp;</td>
                        }
                        else
                        {
                            <td align="left" style="">@item.DateofDeath</td>
                        }
                        @*<td align="center" style="">@item.DischargeConsultantName</td>*@
                        @if (item.UpdatedDate.IndexOf("01/01/1900") > -1 || item.UpdatedDate.IndexOf("01/01/0001") > -1)
                        {
                            <td align="center" style="">&nbsp;</td>
                        }
                        else
                        {
                            <td align="center" style="">@item.UpdatedDate</td>
                        }
                        <td align="center" style="">@item.UpdatedBy</td>
                        @if (Convert.ToBoolean(Session["IsExternalComms"]))
                        {
                            <td align="center" style=""><a href="@Url.Action("COVIDExternalComms", "Home", new { id = item.Test_ID, patientID = item.PatientID, IsPatientList = true})"><i class="fas fa-edit"></i></a></td>
                        }
                        else if (Convert.ToBoolean(Session["IsBreathing"]))
                        {
                            <td align="center" style=""><a href="@Url.Action("COVIDBreathing", "Home", new { id = item.Test_ID, patientID = item.PatientID, IsPatientList = true})"><i class="fas fa-edit"></i></a></td>
                        }
                        else if (Convert.ToBoolean(Session["IsLevelOfCare"]))
                        {
                            <td align="center" style=""><a href="@Url.Action("COVIDLevelOfCare", "Home", new { id = item.Test_ID, patientID = item.PatientID, IsPatientList = true})"><i class="fas fa-edit"></i></a></td>
                        }
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="14" class="text-center" align="center">No Records Found.</td>
                </tr>
            }
        </tbody>
    </table>
</div>
@Html.Partial("_PatientListPagerControl")



