@model Alert
@using NHS.Common


@if (Model != null && !string.IsNullOrEmpty(Model.Message))
{
    <div class="row">
        <div class="col-md-12">

            @if (Model.AlertType == ALERTTYPE.Error)
            {
                if (Model.MessageType == ALERTMESSAGETYPE.OnlyText)
                {
                    <p class="text-error">@Model.AlertType.ToString()!&nbsp;@Model.Message</p>
                }
                else
                {
                    <div class="alert alert-danger">
                        <button class="close" data-dismiss="alert">&times;</button>
                        <strong>Error!</strong>  @Model.Message
                    </div>
                }
            }
            else if (Model.AlertType == ALERTTYPE.Success)
            {
                if (Model.MessageType == ALERTMESSAGETYPE.OnlyText)
                {
                    <p class="text-success">@Model.AlertType.ToString()!&nbsp;@Model.Message</p>
                }
                else
                {
                    <div class="alert alert-success">
                        <button class="close" data-dismiss="alert">&times;</button>
                        <strong>Success!</strong>  @Model.Message
                    </div>
                }
            }
            else if (Model.AlertType == ALERTTYPE.Warning)
            {
                if (Model.MessageType == ALERTMESSAGETYPE.OnlyText)
                {
                    <p class="alert alert-warning">@Model.AlertType.ToString()!&nbsp;@Model.Message</p>
                }
                else
                {
                    <div class="alert alert-warning">
                        <button class="close" data-dismiss="alert">&times;</button>
                        <strong>Warning!</strong>  @Model.Message
                    </div>
                }
            }
            else
            {
                if (Model.MessageType == ALERTMESSAGETYPE.OnlyText)
                {
                    <p class="text-info">Info!&nbsp; @Model.Message</p>
                }
                else
                {
                    <div class="alert alert-info">
                        <button class="close" data-dismiss="alert">&times;</button>
                        <strong>Info!</strong> @Model.Message
                    </div>
                }
            }
            @{Model.Message = string.Empty;}
        </div>
    </div>    
}