@model List<NHS.Common.clsPatientDetails>
<div style="width:100%;">
    <table class="stripe row-border order-column ds_table" style="overflow:auto;" id="tblPatientDetails">
        <thead>
            <tr bgcolor="#a9d7cc" style="color:black;  font-size:11px;">
                <th align="left" width="8%" style="text-align:center;">Patient ID</th>
                <th align="left" width="15%" style="">Name</th>
                <th align="center" width="5%" style="display:none;">DOB</th>
                <th align="center" width="5%" style="display:none;">Date of Admission</th>
                <th align="center" width="8%" style="">Date of Death</th>
                <th align="left" width="10%" style="display:none;">Ward of Death</th>
                <th align="center" width="10%" style="">Discharge Consultant</th>
                <th align="center" width="10%" style="display:none;">Discharge Speciality</th>
                <th align="center" width="10%" style="">  Patient Type </th>
                @*<th align="center" width="3%" style="">Action</th>*@
            </tr>
        </thead>
        <tbody style="font-size:11px;padding:0px;">
            @if (Model.Count > 0)
            {
                foreach (var item in Model)
                {
                    <tr class="Entries">
                        <td align="center" class="PID"><u>@Html.ActionLink(item.PatientId.Trim(), "MortalityReview", new { id = item.ID }, new { @style = "color:blue;" })</u></td>
                        <td align="left">&nbsp;&nbsp;@item.PatientName.Trim() (@item.AgeAtDeath Yrs)</td>
                        <td align="left" style="display:none">@item.DOB</td>
                        <td align="center" style="display:none">@item.DateofAdmission</td>
                        @*changes*@
                        <td align="left" id="DateOfDeath">&nbsp;&nbsp;&nbsp;@item.DateofDeath</td>
                        <td align="center" style="display:none">&nbsp;&nbsp;@item.WardofDeath.Trim()</td>
                        <td align="left">&nbsp;&nbsp;@item.DischargeConsutantName.Trim()</td>
                        <td align="center" style="display:none">@item.DischargeSpeciality.Trim()</td>
                        <td align="left">&nbsp;&nbsp;@item.PatientTypeLongText</td>
                        @*<td align="center" class="PID"><a href="@Url.Action("EditPatient", "Home", new { id = item.ID})"><i class="fas fa-edit"></i></a></td>*@
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="14" class="text-center" align="center">No Records Found.</td>
                </tr>
            }
        </tbody>
    </table>
</div>
@Html.Partial("_CommonPagerControl")
